﻿@page "/Home/Publicacao"
@attribute [Authorize(Roles = "Administrator")]
@using BlazorTable
@using Laterza.Admin.Data.Models.Blog;

<section>

    <div class="d-flex justify-content-between">
        <h3>Publicações</h3>
        <div class="row mb-2">
            <div class="col-md-12">
                <button class="btn btn-primary btn-lg" @onclick="(() => Create())">
                    <i class="fas fa-plus"></i> Novo
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <Table TableItem="IPostModel" Items="@modelList" PageSize="30">
                <Column TableItem="IPostModel" Title="" Field="@(x => x.UrlImagemDestaque)" Width="3%">
                    <Template>
                        @if (!string.IsNullOrEmpty(context.UrlImagemDestaque))
                        {
                            <ImgComponent LinkImagem="@(context.UrlImagemDestaque.Replace(".jpeg", "_thumb.jpeg"))" Class="table-img-mini"></ImgComponent>
                        }
                    </Template>
                </Column>
                <Column TableItem="IPostModel" Title="Titulo" Field="@(x => x.Titulo)" Sortable="true" Filterable="true" Width="37%" />
                <Column TableItem="IPostModel" Title="Data Alteração" Sortable="true" Field="@(x => x.DataAlteracao)" Width="10%">
                    <Template>
                        <p>@(context.DataAlteracao.ToString("dd/MM/yyyy"))</p>
                    </Template>
                </Column>
                <Column TableItem="IPostModel" Title="Ação" Field="@(x => x.Id)" Width="5%">
                    <Template>
                        @if (modelList.Count > 0)
                        {
                            @if (idToDelete == context.Id)
                            {
                                <button type="button" class="btn btn-success mr-1 popoverDeleteConfirm" @onclick='() => Delete(context)'><i class="fas fa-check"></i></button>
                                <button type="button" class="btn btn-danger" @onclick='() => idToDelete = Guid.Empty'><i class="fas fa-times"></i></button>
                            }
                            else
                            {
                                <button class="btn btn-success mr-1" @onclick='() => Edit(context)'><i class="fas fa-pencil-alt"></i></button>
                                @if (modelList.Count > 0)
                                {
                                    <button type="button" class="btn btn-danger" @onclick='() => DeleteConfirm(context)'><i class="fas fa-trash"></i></button>

                                }
                            }
                        }
                    </Template>
                </Column>
                <Pager ShowPageNumber="true" ShowTotalCount="true" />
            </Table>
        </div>
    </div>
</section>