﻿<h3 class="mb-3"><i class="fas fa-images"></i> @(model.Id == Guid.Empty ? "Inserir" : "Alterar")</h3>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <div class="row">
        @if (!model.EhVideo)
        {
            <div class="col-md-12">
                <div class="form-group">
                   <h5 class="mb-3">Banner</h5>

                    <UploadImgFile width="1350" height="706" ProcessarImagemCallBack="HandleProcessarUrlBannerCallBack"></UploadImgFile>
                </div>
                <div class="form-group">
                    @if (model.UrlImagem != null)
                    {
                        <ImgComponent LinkImagem="@model.UrlImagem"></ImgComponent>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div class="form-group">
                    <h5 class="mb-3">Vídeo YouTube</h5>
                    <InputText @bind-Value="model.UrlVideo" class=""></InputText>
                </div>
            </div>
        }

        <div class="col-md-12">
            <div class="form-group">
                <h5 class="mb-3">Título</h5>
                <InputText @bind-Value="model.Titulo" class=""></InputText>
            </div>
            <div class="form-group">
                <h5 class="mb-3">Descrição</h5>
                <InputText @bind-Value="model.Descricao" class=""></InputText>
            </div>

            <div class="d-flex form-group">
                <InputCheckbox @bind-Value="model.EhVideo" class="my-auto"></InputCheckbox>
                <h5 class="ml-2">Video</h5>
                
            </div>
            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>
        <div class="col-md-12 text-right">
            <button class="btn btn btn-lg btn-primary" type="submit"> <i class="fas fa-file mr-1"></i>Salvar</button>
        </div>
    </div>
</EditForm>

