﻿@using BlazorTable
@using Laterza.Admin.Data.Models.Blog;
<hr>
<div class="row mb-3 align-items-end">
    <div class="col-md-10">

        <h5>Galeria</h5>

    </div>

    <div class="col-md-2 text-right">
        <button type="button" class="btn btn-lg btn-primary mr-2" @onclick="(() => Create())">
            <i class="fas fa-plus"></i>
        </button>
        @if (modelList.Count > 0)
        {
            <button type="button" class="btn btn-lg btn-outline-secondary" @onclick="(() => Order())">
                <i class="fas fa-filter"></i>
            </button>
        }

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <Table TableItem="IPostGaleriaModel" Items="@modelList" PageSize="8">
            <Column TableItem="IPostGaleriaModel" Title="" Field="@(x => x.UrlImagem)" Width="7%">
                <Template>
                    @if (context.EhVideo)
                    {
                        <ImgComponent LinkImagem="@("img/icons/Youtube_logo.png")" Class="table-img-mini"></ImgComponent>
                    }
                    else
                    {
                        <ImgComponent LinkImagem="@(context.UrlImagem.Replace(".jpeg", "_thumb.jpeg"))" Class="table-img-mini"></ImgComponent>
                    }
                </Template>
            </Column>

            <Column TableItem="IPostGaleriaModel" Title="Título" Field="@(x => x.Titulo)" Sortable="true" Filterable="true" Width="40%" />
            <Column TableItem="IPostGaleriaModel" Title="Descrição" Field="@(x => x.Descricao)" Sortable="true" Filterable="true" Width="40%" />

            <Column TableItem="IPostGaleriaModel" Title="Ação" Field="@(x => x.Id)" Width="10%">
                <Template>
                    @if (idToDelete == context.Id)
                    {
                        <button type="button" class="btn btn-success mr-1 popoverDeleteConfirm" @onclick='() => DeleteGaleria(context)'><i class="fas fa-check"></i></button>
                        <button type="button" class="btn btn-danger" @onclick='() => idToDelete = Guid.Empty'><i class="fas fa-times"></i></button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-success mr-1" @onclick='() => Edit(context)'><i class="fas fa-pencil-alt"></i></button>
                        <button type="button" class="btn btn-danger" @onclick='() => DeleteGaleriaConfirm(context)'><i class="fas fa-trash-alt"></i></button>
                    }
                </Template>
            </Column>
            <Pager ShowPageSizes="false" ShowPageNumber="false" ShowTotalCount="false" />
        </Table>
    </div>
</div>

<div class="modal modal-fullscreen fade" id="modal-galeria-order-post" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <PostGaleriaOrderComponent PostGaleriaDetalhes="modelList" ProcessarEventCallback="HandleProcessarCallBack"></PostGaleriaOrderComponent>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-fullscreen fade" id="modal-form-postGaleria" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <PostGaleriaFormComponent ProcessarEventCallback="HandleProcessarCallBack" IdPost="IdPost" PostGaleriaDetalhes="PostGaleriaDetalhes"></PostGaleriaFormComponent>
            </div>
        </div>
    </div>
</div>