﻿@using Laterza.Admin.Data.Data.Interfaces.Blog
@using Microsoft.JSInterop
@using Laterza.Admin.Blazor.Data
@using Laterza.Admin.Data.Enum
@using Laterza.Admin.Data.Models.Blog
@using System
@using System.Collections.Generic
@using System.Linq;
@using System.Threading.Tasks;
@inject IJSRuntime JSRuntime

@if (PostGaleriaDetalhes != null)
{

    <div class="grid-container">
        @if (PostGaleriaDetalhes != null && PostGaleriaDetalhes.Count > 0)
        {
            <Dropzone Items="PostGaleriaDetalhes" InstantReplace="true" TItem="PostGaleriaModel" OnItemDrop="@((p) => OnItemDrop(p))" OnReplacedItemDrop="@((p) => OnReplacedItemDrop(p))">
                <div class="col-md-12 mb-4">
                    <div class="grid-item col-md-12 p-0">
                        @if (context.EhVideo)
                        {
                            <ImgComponent LinkImagem="@("img/icons/Youtube_logo.png")" Class="table-img-mini"></ImgComponent>@context.UrlVideo
                        }
                        else
                        {
                            <ImgComponent LinkImagem="@(context.UrlImagem.Replace(".jpeg", "_thumb.jpeg"))" Class="table-img-mini"></ImgComponent>
                        }
                    </div>
                </div>
            </Dropzone>
        }

    </div>

    <button type="button" class="btn btn-primary btn-lg mb-2" @onclick='() => Save()'>
        <i class="fas fa-file mr-1"></i>Salvar
    </button>

}
@code {
    [Parameter]
    public int tipoGaleria { get; set; }

    [Parameter]
    public EventCallback ProcessarEventCallback { get; set; }

    [Inject]
    IPostGaleriaDataService PostGaleriaDataService { get; set; }

    [Parameter]
    public List<PostGaleriaModel> PostGaleriaDetalhes { get; set; }


    private PostGaleriaModel DropedItem = new PostGaleriaModel();
    private PostGaleriaModel replacedItem = new PostGaleriaModel();

    public void OnItemDrop(PostGaleriaModel item)
    {
        DropedItem = item;
        StateHasChanged();
    }

    public void OnReplacedItemDrop(PostGaleriaModel item)
    {
        replacedItem = item;
        StateHasChanged();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    private void Save()
    {
        try
        {
            foreach (var e in PostGaleriaDetalhes)
            {
                e.Ordem = PostGaleriaDetalhes.IndexOf(e);
                PostGaleriaDataService.PostGaleriaOrderUpdate(e);
            }
            JSRuntime.InvokeAsync<object>("sendMessage", new { mensagem = "Edição feita com sucesso.", tipo = "ok" });
        }
        catch (Exception e)
        {
            JSRuntime.InvokeAsync<object>("sendMessage", new { mensagem = e.Message, tipo = "error" });
        }
        finally
        {
            JSRuntime.InvokeAsync<object>("hideModal", "modal-galeria-order-post");
            ProcessarEventCallback.InvokeAsync();
        }

        StateHasChanged();
    }
}
