﻿@page "/Home/Publicacao/novo/"
@page "/Home/Publicacao/editar/{id}"

@using Blazored.Typeahead
@using Microsoft.JSInterop
@using Blazored.TextEditor
@inject IJSRuntime jsRuntime


<section>
    <EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h3 >Cadastrar Publicação</h3>
                </div>
                <div class="col-md-12 text-right">
                    <button class="btn btn btn-lg btn-primary" type="submit"><i class="fas fa-file"></i> Salvar</button>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <h5 class="mb-3">Nome</h5>
                        <InputText @bind-Value="model.Titulo" class=""></InputText>
                    </div>
                </div

                <div class="col-md-6">
                    <div class="form-group">
                        <h5>Categoria</h5>
                        <BlazoredTypeahead @onmousedown:preventDefault
                                        SearchMethod="buscarCategorias"
                                        @bind-Value="model.Categoria"
                                        EnableDropDown="true"
                                        class=" rua">
                            <SelectedTemplate Context="categoria">
                                @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(categoria.ToString())
                            </SelectedTemplate>
                            <ResultTemplate Context="categoria">
                                @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(categoria.ToString())
                            </ResultTemplate>
                        </BlazoredTypeahead>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <h5 class="mb-3">Descrição</h5>
                        <InputTextArea @bind-Value="model.Descricao" class=""></InputTextArea>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <h5 class="mb-3">Banner</h5>

                        <UploadImgFile width="1350" height="706" ProcessarImagemCallBack="HandleProcessarUrlBannerCallBack"></UploadImgFile>
                    </div>
                    <div class="form-group">
                        @if (!string.IsNullOrEmpty(model.UrlImagemDestaque))
                        {
                            <ImgComponent LinkImagem="@model.UrlImagemDestaque"></ImgComponent>
                        }
                        else
                        {
                             <p class="text-danger"> <span class="fa fa-exclamation-triangle text-danger"
                            aria-hidden="true"></span> Atenção: Sem imagem</p>
                        }
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group form-inline text-left">
                        <InputCheckbox @bind-Value="model.Destacar" class=""></InputCheckbox>
                        <h5 class="d-inline-block ml-2">Destacar</h5>
                        

                    </div>
                </div>
                
            </div>

            <div class="row">
                <div class="form-group col-md-12 mb-5">
                    <h5 class="mb-3">Conteúdo</h5>
                    <BlazoredTextEditor @ref="@QuillHtml">
                        <ToolbarContent>
                            <select class="ql-header">
                                <option selected=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>
                            </select>
                            <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-strike"></button>
                            </span>
                            <span class="ql-formats">
                                <select class="ql-color"></select>
                                <select class="ql-background"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="ordered"></button>
                                <button class="ql-list" value="bullet"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-link"></button>
                            </span>
                        </ToolbarContent>
                        <EditorContent>
                            <div>
                                @((MarkupString)model.Conteudo)
                            </div>
                        </EditorContent>
                    </BlazoredTextEditor>
                </div>
            </div>

            @if (!novoRegistro)
            {
                <div class="row">
                    <div class="col-md-12">
                        <PostGaleriaTableComponent IdPost="model.Id" ProcessarEventCallback="HandleStateChange"></PostGaleriaTableComponent>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-12">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                </div>
            </div>

        </div>
    </EditForm>
</section>


@* <style>
    .ql-container.ql-snow {
        height: 450px;
    }
</style> *@