﻿@page "/"
@namespace Laterza.Admin.Blazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="robots" content="noindex" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Construtora Laterza - Painel Administrativo</title>
    <base href="~/" />
    @*<link href="css/site.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="app/css/style.css" rel="stylesheet" />
    <link href="Laterza.Admin.Blazor.styles.css" rel="stylesheet" />
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link href="_content/Blazored.Typeahead/blazored-typeahead.css" rel="stylesheet" />
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
</head>
<body class="">


    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="toastArea" class="position-fixed bottom-0 right-0 p-3" style="z-index: 1060; top: 0; right: 0;">
    </div>

    @* <div id="blazor-error-ui">
            <environment include="Staging,Production">
                An error has occurred. This application may no longer respond until reloaded.
            </environment>
            <environment include="Development">
                An unhandled exception has occurred. See browser dev tools for details.
            </environment>
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>


        <div class="modal" tabindex="99">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div> *@

    @* Text Editor *@
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="_content/Blazored.TextEditor/quill-blot-formatter.min.js"></script>
    <script src="_content/Blazored.TextEditor/Blazored-BlazorQuill.js"></script>



    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Blazored.Typeahead/blazored-typeahead.js"></script>

    <script src="_content/BlazorInputFile/inputfile.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="_content/BlazorTable/BlazorTable.min.js"></script>
    <script type="text/javascript" src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
    <script src="/js/scriptLoader.js"></script>
    <script src="/js/switch.js"></script>
    <script type="text/javascript">
        function sendMessage(toast) {
            var icon = '';
            const okClass = 'oi-check text-success';
            const errorClass = 'oi-warning text-danger';

            if (toast.tipo === 'error') {
                icon = errorClass;
            } else {
                icon = okClass;
            }

            var id = ID();
            var modalMessage = `
                <div id="${id}" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
                    <div class="toast-header">
                        <div class="toast-body">
                            <span class="oi ${icon}" aria-hidden="true"></span> ${toast.mensagem}
                        </div>
                        <strong class="mr-auto"></strong>
                        <small></small>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                                                                `;
            $("#toastArea").append($.parseHTML(modalMessage));
            $("#" + id).toast('show');
        };

        var ID = function () {
            return '_' + Math.random().toString(36).substr(2, 9);
        };
        function activateCep() {
            $('.cep').mask('99999-999');

        }

        function showModal(idModal) {
            $("#" + idModal).modal('show');
        }

        function hideModal(idModal) {
            $("#" + idModal).modal('hide');
        }

        function showPopover(idPopover) {
            setTimeout(function () {
                $('.' + idPopover).popover('show');
            }, 200);
        }
        function disableButtons() {
            $('button.btn-primary').attr("disabled", "true");
        }

        function enableButtons() {
            setTimeout(function () {
                $('button.btn-primary').removeAttr("disabled");
            }, 200);

        }
    </script>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 400px;
            width: 100%;
        }


        #autocomplete {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 99%;
        }

        .pac-container {
            z-index: 9999999999;
        }
    </style>
</body>
</html>
