﻿@page "/guia"

<div class="guia__cadastro">

    <h1>Guia de boas práticas para cadastro de conteúdo</h1>

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5>
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Introdução
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <h3>Introdução</h3>
                    <p>Nós da Open sempre prezamos por uma entrega de qualidade, desde um post no Instagram ao projeto de seu site.</p>
                    <p>Em busca dessa qualidade acima de tudo, decidimos que a criação de um Guia de Boas Práticas de Cadastro de Site seria indispensável para que você possa nos ajudar na construção e manutenção de um projeto digital impecável.</p>
                    <p>Em diversos projetos alguns dos materiais que são recebidos por nós para serem colocados não vêm com o padrão de qualidade exigido pela plataforma, fazendo que seja perdido um importante tempo em adaptação, tempo este que poderia ser utilizado em otimização do projeto.</p>
                    <p>Dessa forma, nos tópicos a seguir indicaremos as boas práticas para que seu projeto seja um de nossos futuros destaques e que nossa parceria renda apenas bons frutos!</p>
                    <p>Atenciosamente,</p>
                    <p>Equipe Open.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5>
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5>
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>

    <h3>Por que fazer um cadastro de acordo com estes critérios?</h3>
    <p>Um bom site vai além da estética, mas ela não deixa de ser um elemento extremamente importante.</p>
    <p>Separamos aqui algumas dicas que farão com que seu site siga todos os critérios mínimos para ter um layout incrível e que também seja lido e percebido pelos mecanismos de pesquisa como um conteúdo de qualidade.</p>
    <p>Para isso, é preciso seguir algumas instruções de SEO, ou seja, de otimização para mecanismos de busca. Dessa forma, ferramentas de busca como Google, irão conseguir ler seu site, entender qual conteúdo você fornece e disponibilizá-lo para as pessoas que buscam o serviço/produto de seu nicho.</p>
    <p>É importante que a experiência do seu usuário seja sempre levada em consideração, portanto, ter um site de rápido carregamento, responsivo e acessível a todos os tipos de público é indispensável.</p>

    <h3>Sobre o Painel Admin do site</h3>
    <p>Nossa plataforma de site é dividida entre áreas de inserção de conteúdo. A primeira seção de conteúdo é onde devem ser inseridos os empreendimentos, postagens do Blog, Banners da Home e o conteúdo da página de Política de Privacidade.</p>
    <p>A seção seguinte é referente ao SEO das páginas do site. Nelas serão inseridas as Meta Description, Meta Keywords e Meta Tittle das páginas.</p>

    <h3>Empreendimentos</h3>
    <p>Alguns campos são obrigatórios no momento de preenchimento dos Empreendimentos que serão lançados no site: </p>
    <ul>
        <li>Nome</li>
        <li>Subtítulo</li>
        <li>Status: aqui você deve colocar se o Empreendimento está em construção, pronto ou em lançamento.</li>
        <li>Ano de entrega.</li>
        <li>Resumo: neste campo devem ser inseridas informações importantes de forma resumida sobre o empreendimento. O resumo deve conter informações que tornem o empreendimento atrativo para o visitante.</li>
        <li>Campos de localidade: Cidade, Estado, Bairro, Região do Bairro e Endereço.</li>
        <li>Campos de SEO: Meta Description, Keywords e Tittle.</li>
        <li>Latitude e longitude.</li>
        <li>Destaque: selecionar caixas de destaque para posicionar o empreendimento como destaque na Home page, na página de empreendimentos e se ele será exibido no site (marcando como ativo).</li>
        <li>Quantidade de quartos.</li>
        <li>Metragem do Terreno, da casa/apartamento.</li>
        <li>Vagas na garagem.</li>
        <li>Unidades disponíveis.</li>
        <li>Galeria do imóvel: imagens do imóvel.</li>
        <li>Galeria de plantas: inserir as imagens das plantas.</li>
        <li>Benefícios do pagamento.</li>
        <li>Ficha técnica.</li>
        <li>Empreendimentos relacionados: linkar outros empreendimentos que possam ser de interesse dos visitantes que se interessam pelo empreendimento em questão.</li>
    </ul>

    <h3>Blog</h3>
    <p>Os artigos do blog devem ser inseridos na página de Blog do Painel Admin. Para isso é preciso criar uma nova postagem e preencher os campos: </p>
    <ul>
        <li>Nome: onde deve ser inserido o título do artigo.</li>
        <li>Categoria.</li>
        <li>Descrição: uma breve descrição do que se trata o artigo, sempre de forma a chamar a atenção do visitante para este post.</li>
        <li>Banner: uma imagem de destaque para o post que seja relacionada com tema.</li>
        <li>Campo de destaque: caso o artigo deva ser destacado na Home é preciso marcar essa caixa para que ele se sobressaia em relação aos outros artigos.</li>
        <li>Conteúdo: no campo de conteúdo deve ser inserido o texto do artigo em si. É indispensável que ao longo do texto sejam utilizadas as tags de títulos (H1, H2, H3...) para melhor organização do texto, a utilização de recursos como negrito e itálico para informações de destaque e que sejam utilizadas palavras-chave do tema dissertado.</li>
        <li>Galeria: nesta seção devem ser inseridas as imagens que também devem aparecer na página.</li>
    </ul>

    <h3>Home </h3>
    <p>
        Na seção “Home” serão inseridos os banners que ficarão em destaque no site.<br />
        Em cada banner criado é preciso preencher os campos:
    </p>
    <ul>
        <li>Nome</li>
        <li>Link</li>
        <li>Imagem – que deve seguir os critérios descritos na sessão “Imagens” deste guia</li>
        <li>Marcar se este banner ficará ativo ou não na página inicial</li>
    </ul>

    <h3>Política de Privacidade </h3>
    <p>Na última seção do primeiro bloco de conteúdo do Painel Admin, deve ser inserido o texto da Política de Privacidade do site.</p>
    <p>Esse será o documento por meio do qual os visitantes de seu site serão informados sobre os dados que são coletados durante o uso, qual a razão da coleta e por quanto tempo estes dados são retidos. É muito importante que a Política de Privacidade de seu site deve estar em conformidade com a LGPD.</p>

    <h3>SEO</h3>
    <p>Uma das principais formas de fazer com que novos clientes cheguem ao seu site é garantir que seu conteúdo seja exibido por mecanismos de buscas para aqueles pesquisam por serviços ou produtos semelhantes ao que sua empresa oferta. Para isso, é necessário que mecanismos como Google e Bing possam realizar a leitura do conteúdo de seu site e classificá-lo como relevante para aquela pesquisa.</p>
    <p>Com isso em mente, em nosso Painel Admin, a segunda parte foi feita para que sejam preenchidos os campos que facilitam essa leitura do conteúdo das páginas pelos mecanismos de buscas e também pelos visitantes. Dessa forma, é indispensável que os campos abaixo sejam preenchidos em cada uma destas sessões:</p>

    <h5>Meta Title</h5>
    <p>Esse é o título com o qual sua página vai aparecer nos mecanismos de busca. Ele deve conter no máximo 60 caracteres, ser objetivo e claro.</p>
    <p>É importante que não existam duas páginas com o mesmo Title, pois isso poderia fazer com que os mecanismos de busca entendam que seja um conteúdo duplicado e vai contra a boa prática de experiência do usuário que afirma que devemos sempre ajudar o usuário e facilitar sua navegação com informações claras.</p>

    <h5>Meta Description</h5>
    <p>A descrição meta é um pequeno resumo que aparece logo após o título, dizendo em poucas palavras o que o usuário irá encontrar caso decida clicar no link que o direciona para a página.</p>
    <p>Esse componente não deve ultrapassar 160 caracteres e deve ser redigido de forma a chamar a atenção do usuário para sua página, fazer com que ele entenda o que vai encontrar e tenha vontade de clicar no link.</p>

    <h5>Meta Keywords</h5>
    <p>É um elemento que coloca dentro do código de seu site uma série de palavras chaves relacionadas ao conteúdo da página, para que os mecanismos de busca possam exibi-la como resultado de pesquisa caso o usuário busque pelas palavras chaves que foram colocadas nesse campo.</p>
    <p>Podem ser inseridas palavras chaves longas ou curtas (por exemplo: empreendimentos ou empreendimentos em Pernambuco), contanto que sejam separados por vírgulas no campo.</p>

    <h3>Imagens</h3>
    <h5>Banners</h5>
    <ul>
        <li>1920 x 1080 – empreendimentos.</li>
        <li>1350 x 706 – blog.</li>
        <li>1920 x 1080 – Home.</li>
        <li>1920 x 1080 – Home.</li>
    </ul>
    <p class="mt-3">Imagens da Galeria do Imóvel: 1920 x 1080.</p>
    <p>Galeria de Plantas: 1280 x 960.</p>
    <p><b>Nome dos arquivos de imagem:</b></p>
    <p>Deve conter o nome do empreendimento, da cidade, do estado e da incorporadora/construtora/imobiliária.</p>
    <p>Exemplo: Casa 2001 – Belo Horizonte MG– Open.</p>
    <p><b>Tamanho:</b></p>
    <p>Os arquivos de imagem devem ter em média 200kb e tendo no máximo 500kb. É importante ressaltar que imagens de 500kb só devem ser inseridas no site em casos extremos, impossibilidades de comprimir o arquivo.</p>

    <h5>Redimensionamento de imagens</h5>
    <p>As imagens podem ser redimensionadas pelo site: <a href="https://www.iloveimg.com/pt/redimensionar-imagem" target="_blank" title="Redimencionar imagens" alt="Redimencionar imagens">iloveimg.com</a></p>

    <h5>Compressão de imagens</h5>
    <p>Imagens em .webp para reduzir significativamente o peso das imagens sem uma perda expressiva de qualidade, é necessário escolher o melhor formato. Dessa forma, os impactos podem ser minimizados para que o uso de imagens não prejudique o desempenho da página.</p>
    <p>São muitos os formatos que existem para as imagens, mas recomendamos que o formato utilizado seja o .webp, pois proporciona maior compactação sem perda de qualidade e com baixo peso em comparação com os demais. Como exemplo, esse formato permite uma redução de 25% a 35% no tamanho do arquivo em comparação com os formatos JPEG e PNG.</p>
    <p>Para isso, existem ferramentas que facilitam o processo, como o Squoosh que é uma ferramenta gratuita disponibilizada pelo Google que permite a otimização de uma ampla gama de formatos de imagem, além da possibilidade de redimensioná-las.</p>
    <p>Recomendamos como uma boa prática que as imagens da nova página sejam convertidas para o formato .webp, de forma a diminuir o tempo de carregamento do site, proporcionando uma boa experiência do usuário e, consequentemente, melhor desempenho em performance.</p>

    <h5>Texto Alternativo</h5>
    <p>O ALT Text ou Texto alternativo é o componente que deve ser inserido em cada uma das imagens que forem colocadas no site, ele permite que leitores de telas para pessoas com deficiência ou limitações visuais possam fazer a leitura do componente e descrever o que está sendo exibido na tela. Dessa forma, esse componente deve ser descritivo, explicitando da melhor forma possível os elementos da imagem inserida.</p>
    <p>Além disso, mecanismos de pesquisa não realizam a leitura de imagens, para que as imagens de seu site sejam exibidas em resultados de busca é preciso que o alt text tenha a palavra-chave para ser lido pelos mecanismos e mostrado aos usuários.</p>















</div>
@code {

}
