﻿@page "/SetUpRoles"
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Configuration
@using Laterza.Admin.Data.Data.Interfaces.Pagina
@using Laterza.Admin.Data.Models.Pagina

@inject RoleManager<IdentityRole> roleManager
@inject UserManager<IdentityUser> userManager
@inject IPaginaDataService paginaDataService
@inject IConfiguration config

<h3>Set Up Roles</h3>
<p>
    This page has now set up the roles and marked the appropriate user as administrator.
</p>

@code {
    protected override async Task OnParametersSetAsync()
    {
        SetPaginas();
        //await SetUpAuth();
    }

    private void SetPaginas()
    {
        //Descricao
        //MataTittle
        //MetaDescription
        //MetaKeyword

        if (paginaDataService.GetPagina("home").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel
            {
                Slug = "home",
                Titulo = "Home",
                Descricao = "Descricao SEO home",
                MataTittle = "MataTittle SEO home",
                MetaDescription = "MetaDescription SEO home",
                MetaKeyword = "MetaKeyword SEO home"
            };

            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("quem-somos").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel { Slug = "quem-somos",
                Titulo = "Quem Somos",
                Descricao = "Descricao SEO Quem Somos",
                MataTittle = "MataTittle SEO Quem Somos",
                MetaDescription = "MetaDescription SEO Quem Somos",
                MetaKeyword = "MetaKeyword SEO Quem Somos"
            };

            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("empreendimentos").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel
            {
                Slug = "empreendimentos",
                Titulo = "Empreendimentos",
                Descricao = "Descricao SEO Empreendimentos",
                MataTittle = "MataTittle SEO Empreendimentos",
                MetaDescription = "MetaDescription SEO Empreendimentos",
                MetaKeyword = "MetaKeyword SEO Empreendimentos"
            };

            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("lancamentos").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel
            {
                Slug = "lancamentos",
                Titulo = "Lançamentos",
                Descricao = "Descricao SEO Lançamentos",
                MataTittle = "MataTittle SEO Lançamentos",
                MetaDescription = "MetaDescription SEO Lançamentos",
                MetaKeyword = "MetaKeyword SEO Lançamentos"
            };

            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("obras-em-andamento").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel
            {
                Slug = "obras-em-andamento",
                Titulo = "Obras em Andamento",
                Descricao = "Descricao SEO Obras em Andamento",
                MataTittle = "MataTittle SEO Obras em Andamento",
                MetaDescription = "MetaDescription SEO Obras em Andamento",
                MetaKeyword = "MetaKeyword SEO Obras em Andamento"
            };

            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("blog").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel
            {
                Slug = "blog",
                Titulo = "Blog",
                Descricao = "Descricao SEO Blog",
                MataTittle = "MataTittle SEO Blog",
                MetaDescription = "MetaDescription SEO Blog",
                MetaKeyword = "MetaKeyword SEO Blog"
            };

            paginaDataService.PaginaCreate(pagina);
        }

        if (paginaDataService.GetPagina("contato").FirstOrDefault() == null)
        {
            var pagina = new PaginaModel
            {
                Slug = "contato",
                Titulo = "contato",
                Descricao = "Descricao SEO contato",
                MataTittle = "MataTittle SEO contato",
                MetaDescription = "MetaDescription SEO contato",
                MetaKeyword = "MetaKeyword SEO contato"
            };

            paginaDataService.PaginaCreate(pagina);
        }
    }

    private async Task SetUpAuth()
    {
        const string adminstrator = "Administrator";
        const string editor = "Editor";

        string[] roles = { adminstrator, editor };

        foreach (var role in roles)
        {
            var roleExist = await roleManager.RoleExistsAsync(role);

            if (roleExist == false)
            {
                await roleManager.CreateAsync(new IdentityRole(role));
            }
        }

        var user = await userManager.FindByEmailAsync(config.GetValue<string>("AdminUser"));

        if (user != null)
        {
            await userManager.AddToRoleAsync(user, adminstrator);
        }
        var userEditor = await userManager.FindByEmailAsync(config.GetValue<string>("EditorUser"));

        if (userEditor != null)
        {
            await userManager.AddToRoleAsync(user, editor);
        }
    }
}
