<div style="font-size:1rem;padding:3rem;">
<h2 style="color:#134a86;">Nome</h2>
<p>Glauber Queiroz</p>

<h3 style="color:#134a86;">E-mail</h3>
<p>glauber@gmail.com</p>

<h3 style="color:#134a86;">Telefone</h3>
<p>31 3333333333</p>

<h3 style="color:#134a86">Mensagem</h3>
<p style="color:#271d1d;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis urna lorem, sit amet ornare mi tristique et. Quisque vel vulputate sem, sit amet convallis elit. Ut non posuere ante. Sed eget risus velit. Sed gravida risus velit, vitae fringilla mi facilisis et. Praesent at tortor sed sapien aliquet ultricies.</p>
<hr style="padding: 0rem 10rem;">
<p style="color:#737373; font-size:12px;">Esta mensagem foi enviada através do formulário "Trabalhe conosco". do website da Construtora Laterza - www.construtoralaterza.com.br</p>

</div>
</div>