﻿<section class="flow content__artigo">
    <div class="h-100 container">
        <a class="row" href="/blog" title="voltar">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg>
            <h5>ler outras matérias</h5>
        </a>
        <div class="h-100 row justify-content-center">
            <div class="col-md-12">
                <div class="row h-100">
                    <header>
                        <h2 class="align-items-start">@Post.Descricao</h2>
                    </header>
                    @((MarkupString)Post.Conteudo)
                    <div class="col-md-12">
                        <img class="w-100" src="@Post.UrlImagemDestaque" alt="Construtora Laterza" title="Construtora Laterza" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@code {

}