﻿<section class="h-100 row justify-content-center section__blog__hero bg__artigo">
    <div class="h-100 row container align-items-center justify-content-center">
        <h1>Blog</h1>
    </div>
    <img class="align-items-baseline" src="/img/nasc-bg-article.png" alt="Construtora Laterza" title="Construtora Laterza" />
</section>
@code {

}
