﻿<section class="flow galery__blog">
    <div class="h-100 container">
        <div class="h-100 row justify-content-center">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="row">
                        @foreach (var postGaleria in PostGaleria)
                        {
                            <a href="@postGaleria.UrlImagem" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                                <img src="@(postGaleria.UrlImagem.Replace(".jpeg", "_thumb.jpeg"))" class="img-fluid" alt="Construtora Laterza" title="Construtora Laterza">
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
