﻿
<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <div class="row">
        <div class="col-md-12 mb-xl-3">
            <IdiomaTabComponent ProcessarIdiomaModel="HandleProcessarIdiomaModel" hideTabsIdioma="@hideTabsIdioma" idiomaParam="@idiomaModal"></IdiomaTabComponent>
        </div>
        <div class="col-md-12">
            <h3><span class="oi oi-home"></span> @(model.Id == Guid.Empty ? "Inserir" : "Alterar") Projetos Sociais</h3>
        </div>
        <div class="col-md-12 row m-0">
            <div class="form-group col-md-12">
                <label>Imagem</label>
                <UploadImgFile width="600" height="400" ProcessarImagemCallBack="HandleProcessarUrlImagemCallBack"></UploadImgFile>
            </div>
            <div class="form-group">
                @if (model.UrlImagem != null)
                {
                    <ImgComponent LinkImagem="@model.UrlImagem"></ImgComponent>
                }
            </div>

            <div class="form-group col-md-6">
                <label>Nome</label>
                <InputText @bind-Value="model.Nome" class="form-control form-control-lg"></InputText>
            </div>

            <div class="form-group col-md-6">
                <label>Descrição</label>
                <InputText @bind-Value="model.Descricao" class="form-control form-control-lg"></InputText>
            </div>

            <div class="form-group col-md-6">
                <label>Endereço</label>
                <InputText @bind-Value="model.Endereco" class="form-control form-control-lg"></InputText>
            </div>

            <div class="form-group col-md-6">
                <label>Estado</label>
                <InputSelect @oninput="HandleFirstDropDownChange" class="form-control form-control-lg estado" @bind-Value="model.Estado">
                    <option disabled selected value> -- Escolha um estado -- </option>
                    @foreach (var e in estados)
                    {
                        <option value="@(e.Slug)">@(e.Nome)</option>
                    }
                </InputSelect>
            </div>

            <div class="form-group col-md-6">
                <label>Cidade</label>
                @if (cidades.Count > 0)
                {
                    <InputSelect class="form-control form-control-lg cidade" @bind-Value="model.Cidade">
                        <option disabled selected value> -- Escolha um cidade -- </option>
                        @foreach (var c in cidades)
                            {
                            <option value="@(c.Slug)">@(c.Nome)</option>
                            }
                    </InputSelect>
                }
            </div>

            <div class="form-group col-md-6">
                <label>Projeto Social?</label>
                <InputCheckbox @bind-Value="model.ProjetoSocial" class="form-control form-control-lg"></InputCheckbox>
            </div>
            @if (model.Id != Guid.Empty)
            {
                <ProjetoGaleriaTableComponent ProcessarEventCallback="HandleStateChange" idProjeto="model.Id"></ProjetoGaleriaTableComponent>
            }

            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>


        <div class="col-md-12 text-right">
            <button class="btn btn btn-lg btn-primary" type="submit"><span class="oi oi-file"></span> Salvar</button>
        </div>
    </div>

</EditForm>