﻿@using BlazorTable

<div class="row mb-3 align-items-end w-100">
    <div class="col-md-10">

        <h5>Escritório Galeria</h5>

    </div>

    <div class="col-md-2 text-right">
        <button type="button" class="btn btn-lg btn-primary mr-2" @onclick="(() => Create())">
            <span class="oi oi-plus"></span>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <Table id="EscritorioGaleria" TableItem="IProjetoGaleriaModel" Items="@modelList" PageSize="8">
            <Column TableItem="IProjetoGaleriaModel" Title="" Field="@(x => x.UrlImagem)" Width="7%">
                <Template>
                    @if (context.EhVideo)
                    {
                        <ImgComponent LinkImagem="@("img/icons/Youtube_logo.png")" Class="table-img-mini"></ImgComponent>
                    }
                    else
                    {
                        <ImgComponent LinkImagem="@(context.UrlImagem.Replace(".jpeg", "_thumb.jpeg"))" Class="table-img-mini"></ImgComponent>
                    }
                </Template>
            </Column>

            <Column TableItem="IProjetoGaleriaModel" Title="Titulo" Field="@(x => x.Titulo)" Sortable="true" Filterable="true" Width="40%" />

            <Column TableItem="IProjetoGaleriaModel" Title="Ação" Field="@(x => x.Id)" Width="10%">
                <Template>
                    @if (idToDelete == context.Id)
                    {
                        <button type="button" class="btn btn-success mr-1 popoverDeleteConfirm" @onclick='() => DeleteGaleria(context)'><span class="oi oi-check" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-danger" @onclick='() => idToDelete = Guid.Empty'><span class="oi oi-x" aria-hidden="true"></span></button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-info mr-1" @onclick='() => Edit(context)'><span class="oi oi-pencil" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-danger" @onclick='() => DeleteGaleriaConfirm(context)'><span class="oi oi-trash" aria-hidden="true"></span></button>
                    }
                </Template>
            </Column>
            <Pager ShowPageSizes="false" ShowPageNumber="false" ShowTotalCount="false" />
        </Table>
    </div>
</div>

<div class="modal modal-fullscreen fade" id="modal-form-ProjetoGaleria" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ProjetoGaleriaFormComponent ProcessarEventCallback="HandleProcessarCallBack" idProjeto="idProjeto" projetoGaleriaDetalhes="projetoGaleriaDetalhes"></ProjetoGaleriaFormComponent>
            </div>
        </div>
    </div>
</div>





