﻿<section class="flow section__busca">
    <div class="h-100 container">
        <EditForm Model="@filtroEstadoCidade" OnValidSubmit="@HandleValidSubmit">
            <div class="form-row">
                <div class="col-md-4 my-2">
                    <InputSelect @oninput="HandleEstadoDropDownChange" class="form-control" @bind-Value="filtroEstadoCidade.Estado">
                        <option disabled selected value>Escolha um estado</option>
                        @foreach (var e in Estados)
                        {
                            <option value="@(e.Slug)">@(e.Nome)</option>
                        }
                    </InputSelect>
                </div>
                <div class="col-md-4 my-2">
                    <InputSelect class="form-control form-control-lg cidade" @bind-Value="filtroEstadoCidade.Cidade">
                        <option disabled selected value>Escolha um cidade</option>
                        @foreach (var c in Cidades)
                        {
                            <option value="@(c.Slug)">@(c.Nome)</option>
                        }
                    </InputSelect>
                </div>
                <div class="col-xs-2 my-2">
                    <button type="submit" class="btn">Buscar</button>
                </div>
                <div class="col-xs-2 my-2">
                    <a href="https://api.whatsapp.com/send?phone=5534999844888">
                        <img src="/img/fale_conosco.jpg" alt="Chat" title="Chat"/>
                    </a>
                </div>
            </div>
        </EditForm>
    </div>
</section>
