﻿@using Laterza.Admin.Data.Enum;
@using Laterza.Admin.Data.Models.Empreendimento; 

<section class="h-100 emp__comp">
    <div class="row container align-items-center justify-content-between sub__title mx-auto pt-5">
        <div class="col-md-4">
            <h2>@(Status != null ? Status == "EmConstrução" ? "Em construção" : Status : "Empreendimentos")</h2>
        </div>
        <div class="col-md-6 my-3">
            <h5>
                Os melhores empreendimentos para tornar<br />o seu sonho realidade.
            </h5>
        </div>
    </div>
</section>
<div class="section__cards">
    <div class="h-100 container justify-content-center card__content">
        <div class="h-100 row justify-content-center">
            @foreach (EmpreendimentoFichaTecnicaModel empreendimento in Empreendimentos)
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="status__label">
                            <h5>@(extensionMethods.Description((EnumStatusEmpreendimento)empreendimento.StatusEmpreendimento))</h5>
                        </div>
                        <img class="card-img-top" src="@(!string.IsNullOrEmpty(empreendimento.UrlBanner) ? empreendimento.UrlBanner : "/img/card_img.jpg")" alt="@empreendimento.Nome" title="@empreendimento.Nome">
                        <div class="card-body">
                            <h5 class="card-title">Região: @(empreendimento.RegiaoDoBairro != null ? empreendimento.RegiaoDoBairro : empreendimento.Bairro)</h5>
                            <h5 style="text-transform:capitalize;" class="card-title">@empreendimento.Cidade @empreendimento.EstadoNome</h5>
                            <h3 style="margin-bottom:.5rem;">@empreendimento.Nome</h3>
                            @foreach (var fichaTecnicaDestaque in empreendimento.FichasTecnicas)
                            {
                                <h5 class="card-text">@fichaTecnicaDestaque.Titulo</h5>
                            }
                        </div>
                        <a href="/empreendimento-detalhes/@empreendimento.Slug"  target="_top" class="btn align-items-end btn btn-block">Ver mais</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {

}