﻿@using Laterza.Front.Blazor.Models
@using System.Collections.Generic
@using System.Collections
@using Laterza.Admin.Data.Data.Interfaces.EMail
@using Laterza.Admin.Data.Models.EMail
@using System.IO
@using System.Linq
@using Microsoft.AspNetCore.WebUtilities;
@inject NavigationManager NavigationManager;

@inject IControleMsgEMailDataService eMail
@inject ConfigAplicacao _config



<section id="scroll_concat" class="flow section__contact">

    <div class="container contact_form">
        <div class="h-100 row align-items-center justify-content-left">
            <h2>Fale com nossos<br />especialistas</h2>
        </div>
        <div class="h-100 row align-items-center justify-content-center">
            <EditForm class="h-100 col-md-12 form__contact" Model="@informacaoContato" OnValidSubmit="@SubmitFormulario">
                <div class="form-group">
                    <InputText @bind-Value="informacaoContato.Nome" class="form-control" id="inputName" placeholder="Nome"></InputText>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <InputText @bind-Value="informacaoContato.EMail" type="email" class="form-control" id="inputEmail" placeholder="Email"></InputText>
                    </div>
                    <div class="form-group col-md-6">
                        <InputText @bind-Value="informacaoContato.Telefone" type="tel" class="form-control" id="inputTelefone" placeholder="Telefone" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"></InputText>
                    </div>
                </div>
                <div class="form-group">
                    <textarea @bind="informacaoContato.Msg" type="text" class="form-control" id="inputMessage" placeholder="Mensagem"></textarea>
                </div>
                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <div class="form-group form-check d-flex align-items-center mt-3">
                            <InputCheckbox class="form-check-input" @bind-Value="@informacaoContato.IdcPoliticaPrivacidade"></InputCheckbox>
                            <label class="form-check-label mt-1" for="exampleCheck1">Tenho conhecimento e aceito a <a href="/politica-de-privacidade" target="_blank">Política de Privacidade</a></label>
                        </div>

                        <div class="form-group form-check d-flex align-items-center">
                            <InputCheckbox class="form-check-input" @bind-Value="@informacaoContato.IdcRecebeInformacao"></InputCheckbox>
                            <label class="form-check-label mt-1" for="exampleCheck2">Eu concordo em receber comunicações</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="row align-items-center justify-content-end">
                            <button type="submit" class="btn col-md-6 mx-3">Fazer simulação</button>
                        </div>
                    </div>
                </div>
                @*<div class="form-group row align-items-center justify-content-end">
                        <button type="submit" class="btn col-md-4 mx-3">Fazer simulação</button>
                    </div>*@
            </EditForm>
        </div>
    </div>
</section>
@code {

    FormularioContato informacaoContato = new FormularioContato() { IdcPoliticaPrivacidade = false, IdcRecebeInformacao = false };
    static List<string> _lstErros = new List<string>();
    Hashtable _arquivo = new Hashtable();

    async Task SubmitFormulario()
    {
        _lstErros.Remove("Política de Privacidade deve ser aceita!");
        if (!informacaoContato.IdcPoliticaPrivacidade)
        {
            _lstErros.Add("Política de Privacidade deve ser aceita!");
        }

        HandleValidSubmit();

    }

    async Task SubmitTrabalheConosco()
    {
        _lstErros.Remove("Arquivo deve ser anexado!");

        if (_arquivo.Count == 0)
        {
            _lstErros.Add("Arquivo deve ser anexado!");
        }

        SubmitFormulario();
    }

    async Task HandleValidSubmit()
    {

        if (_lstErros.Count != 0)
        {
            return;
        }

        var _eMailDestino = string.Empty;

        var _nomeArquivo = string.Empty;
        byte[] _conteudoArquivo = null;

        if (_arquivo.Count == 0)
        {
            _eMailDestino = _config.DestinoContato;

        }
        else
        {
            _eMailDestino = _config.DestinoTrabalheConoco;

            foreach (DictionaryEntry de in _arquivo)
            {
                _nomeArquivo = de.Key.ToString();
                _conteudoArquivo = (byte[])de.Value;
            }
        }

        string _corpoMsg = File.ReadAllText(@".\wwwroot\eMail\eMailContato.html")
                                .Replace("##NOME_CONTATO##", informacaoContato.Nome)
                                .Replace("##EMAIL_CONTATO##", informacaoContato.EMail)
                                .Replace("##TELEFONE_CONTATO##", informacaoContato.Telefone)
                                .Replace("##MSG_CONTATO##", informacaoContato.Msg);

        eMail.GravaMsg(new ControleMsgEMailModel()
        {
            Assunto = "Novo Contato",
            Destino = _eMailDestino,
            CorpoMsg = _corpoMsg,
            NomeArquivo = _nomeArquivo,
            ConteudoArquivo = _conteudoArquivo,
            IdcRecebeInformacao = informacaoContato.IdcRecebeInformacao ? "S" : "N"
        });

        NavigationManager.NavigateTo(QueryHelpers.AddQueryString("/empreendimentos/", new Dictionary<string, string>()), true);
        StateHasChanged();
    }

    async Task HandleAnexarArquivoAsync(InputFileChangeEventArgs e)
    {
        var _arquivoSelecionado = e.GetMultipleFiles().FirstOrDefault();

        _lstErros.Remove("Formato de arquivo inválido!");

        if ((new List<string>() { ".doc", ".docx", ".pdf", ".jpeg", ".jpg", ".png" }).Contains(Path.GetExtension(_arquivoSelecionado.Name)))
        {
            var _conteudoArquivo = new MemoryStream();
            await (e.File.OpenReadStream(1024 * 1024 * 15)).CopyToAsync(_conteudoArquivo);

            _lstErros.Remove("O tamanho máximo do arquivo é de 500 Kb.");
            if (_conteudoArquivo.GetBuffer().Count() > (500 * 1024)) //500 Kb
            {
                _lstErros.Add("O tamanho máximo do arquivo é de 500 Kb!");
            }
            else
            {
                _arquivo.Add(_arquivoSelecionado.Name, _conteudoArquivo.GetBuffer());
            }
        }
        else
        {
            _lstErros.Add("Formato de arquivo inválido!");
        }
    }

}