﻿<section class="penseopen">
    <div class="container row align-items-center justify-content-between my-3">
        <div class="col-md-6 text-left">
            <h6>CONSTRUTORA LATERZA | Todos os Direitos Reservados</h6>
        </div>
        <div class="col-md-6 text-right">
            <h6>Designed by <img src="" alt="PENSE OPEN" title="Pense Open" /></h6>
        </div>
    </div>
</section>

@code {

}