﻿<section class="flow section__footer">
    <div class="h-100 container">
        <div class="h-100 row brand__row align-items-center justify-content-center">
            <div class="col-md-4 footer__brand">
                <a href="/" title="Home" target="_self">
                    <img src="/img/logo-footer.png" alt="Construtora Laterza" title="Construtora Laterza" width="210">
                </a>
            </div>
            <div class="col-md-8">
                <nav class="navbar navbar-expand-lg navbar-dark justify-content-center">
                    <ul class="row navbar-nav navfooter">
                        <li id="nav__hover" class="nav-item text-center">
                            <a target="_top" class="nav-link" href="/quem-somos">
                                <div class="link__menu">Quem Somos</div>
                                <div class="icon__menu"><img src="/img/nav_hover.png" alt="Construtora Laterza" title="Construtora Laterza" /></div>
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <a target="_top" class="nav-link" href="/empreendimentos" @onclick="@(() => ClickNavigate())">
                                <div class="link__menu">Empreendimentos</div>
                                <div class="icon__menu"><img src="/img/nav_hover.png" alt="Construtora Laterza" title="Construtora Laterza" /></div>
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <a target="_top" class="nav-link" href="/empreendimentos/?Status=Lançamento" @onclick="@(() => ClickNavigate("Lançamento"))">
                                <div class="link__menu">Lançamentos</div>
                                <div class="icon__menu"><img src="/img/nav_hover.png" alt="Construtora Laterza" title="Construtora Laterza" /></div>
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <a target="_top" class="nav-link" href="/empreendimentos/?Status=EmConstrução" @onclick="@(() => ClickNavigate("EmConstrução"))">
                                <div class="link__menu">Obras em Andamento</div>
                                <div class="icon__menu"><img src="/img/nav_hover.png" alt="Construtora Laterza" title="Construtora Laterza" /></div>
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <a target="_top" class="nav-link" href="/blog">
                                <div class="link__menu">Blog</div>
                                <div class="icon__menu"><img src="/img/nav_hover.png" alt="Construtora Laterza" title="Construtora Laterza" /></div>
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <a target="_top" class="nav-link" href="/contato">
                                <div class="link__menu">Contato</div>
                                <div class="icon__menu"><img src="/img/nav_hover.png" alt="Construtora Laterza" title="Construtora Laterza" /></div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="h-100 row align-items-end justify-content-betweens">
            <div class="col-md-4 my-3">
                <h3>Portal de vendas</h3>
                <p>Avenida Pau Brasil, 100</p>
                <p>Vila Olímpica - Uberaba - MG CEP 38066-060</p>
            </div>
            <div class="col-md-4 my-3">
                <p>(34) 3332-0298</p>
                <a class="my-3" href="mailto:contato@construtoralaterza.com.br">contato@construtoralaterza.com.br</a>
                <a href="https://portal.bole.to/laterza" class="btn btn-sm">Emitir 2<sup>a</sup> Via Boleto</a>
            </div>
            <div class="col-md-4 my-3 footer__social">
                <a href="https://www.instagram.com/construtoralaterza/" title="Instagram" target="_blank"><img src="/img/ig_icon.png" alt="Construtora Laterza" title="Construtora Laterza" /></a>
                <a href="https://www.facebook.com/construtoralaterza" title="Facebook" target="_blank"><img src="/img/fb_icon.png" alt="Construtora Laterza" title="Construtora Laterza" /></a>
                <a href="https://www.youtube.com/channel/UCzYi5KPglx8KgaFtzTqR5FA" title="Youtube" target="_blank"><img src="/img/yt_icon.png" alt="Construtora Laterza" title="Construtora Laterza" /></a>
                <a href="https://api.whatsapp.com/send?phone=5534999844888" title="Whatsapp" target="_blank"><img src="/img/wp_icon.png" alt="Construtora Laterza" title="Construtora Laterza" /></a>
                <div class="my-3">
                    <a href="/politica-de-privacidade" title="Política de Privacidade" target="_blank">Acesse a Política de Privacidade</a>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="container section__open">
        <div class="row my-3 mx-0 justify-content-between">
            <div class="col-md-6">
                <p>CONSTRUTORA LATERZA | Todos os Direitos Reservados</p>
            </div>
            <div class="col-md-3">
                <p>Designed by <img src="" alt="PENSE OPEN" title="Pense Open" /></p>
            </div>
        </div>
    </div>
        -->
</section>


<!-- modal LGPD -->
<!-- Large modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal fade bd-example-modal-lg modal_cookie" tabindex="-1" role="dialog" data-show="true" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <p>
                Utilizamos cookies para oferecer melhor experiência, melhorar o desempenho, analisar como você interage em nosso site e personalizar conteúdo. ACEITAR / RECUSAR COOKIES.
            </p>
            <p>
                Ao informar meus dados, eu concordo com a Política de Privacidade (INCLUIR O LINK DA PÁGINA QUE SERÁ CRIADA) e com os Termos de Uso.
            </p>
        </div>
    </div>
</div>*@
<!-- ./modal LGPD -->



@code {
    @inject NavigationManager NavigationManager;
    @using Microsoft.AspNetCore.WebUtilities;

    public void ClickNavigate(string status = null)
    {
        Dictionary<string, string> QueryParams = new Dictionary<string, string>();
        if (!string.IsNullOrEmpty(status))
            QueryParams.Add("Status", status);
        NavigationManager.NavigateTo(QueryHelpers.AddQueryString("/empreendimentos/", QueryParams), true);
        StateHasChanged();
    }
} 