﻿<section class="section__nav">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        <div class="container bg-light">
            <a class="navbar-brand" href="">
                <img src="/img/header_logo.png" alt="Construtora Laterza" title="Construtora Laterza" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item text-center">
                        <NavLink target="_top" class="nav-link" href="/quem-somos">
                            <div class="link__menu">Quem Somos</div>
                            <div class="icon__menu d-flex justify-content-center"><img src="/img/nav_hover.png" alt="Construtora Laterza" title="Construtora Laterza"/></div>
                        </NavLink>
                    </li>
                    <li class="nav-item text-center">
                        <NavLink target="_top" class="nav-link" href="/empreendimentos" @onclick="@(() => ClickNavigate())">
                            <div class="link__menu">Empreendimentos</div>
                            <div class="icon__menu d-flex justify-content-center"><img src="/img/nav_hover.png" alt="Construtora Laterza" title="Construtora Laterza"/></div>
                        </NavLink>
                    </li>
                    <li class="nav-item text-center">
                        <NavLink target="_top" class="nav-link" href="/empreendimentos/?Status=Lançamento" @onclick="@(() => ClickNavigate("Lançamento"))">
                            <div class="link__menu">Lançamentos</div>
                            <div class="icon__menu d-flex justify-content-center"><img src="/img/nav_hover.png" alt="Construtora Laterza" title="Construtora Laterza"/></div>
                        </NavLink>
                    </li>
                    <li class="nav-item text-center">
                        <NavLink target="_top" class="nav-link" href="/empreendimentos/?Status=EmConstrução" @onclick="@(() => ClickNavigate("EmConstrução"))">
                            <div class="link__menu">Obras em Andamento</div>
                            <div class="icon__menu d-flex justify-content-center"><img src="/img/nav_hover.png" alt="Construtora Laterza" title="Construtora Laterza"/></div>
                        </NavLink>
                    </li>
                    <li class="nav-item text-center">
                        <NavLink target="_top" class="nav-link" href="/blog">
                            <div class="link__menu">Blog</div>
                            <div class="icon__menu d-flex justify-content-center"><img src="/img/nav_hover.png" alt="Construtora Laterza" title="Construtora Laterza"/></div>
                        </NavLink>
                    </li>
                    <li class="nav-item text-center">
                        <NavLink target="_top" class="nav-link" href="/contato">
                            <div class="link__menu">Contato</div>
                            <div class="icon__menu d-flex justify-content-center"><img src="/img/nav_hover.png" alt="Construtora Laterza" title="Construtora Laterza"/></div>
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>
@code {
    @inject NavigationManager NavigationManager;
    @using Microsoft.AspNetCore.WebUtilities;

    public void ClickNavigate(string status = null)
    {
        Dictionary<string, string> QueryParams = new Dictionary<string, string>();
        if (!string.IsNullOrEmpty(status))
            QueryParams.Add("Status", status);
        NavigationManager.NavigateTo(QueryHelpers.AddQueryString("/empreendimentos/", QueryParams), true);
        StateHasChanged();
    }
} 