﻿<section class="row section__open align-items-center justify-content-center">
    <div class="container row my-3 mx-0 justify-content-between">
        <div class="col-md-6">
            <p>CONSTRUTORA LATERZA | Todos os Direitos Reservados</p>
        </div>
        <div class="col-md-3 ">
            <p>Designed by <img src="" alt="PENSE OPEN" title="Pense Open" /></p>
        </div>
    </div>
</section>