﻿// css page comprarTerreno
.content__inner {
    h2 {
        margin-top: -4rem;
        padding-bottom: 3rem;
    }

    h3 {
        color: $first;
        font-size: 1.4rem;
        font-weight: 700;
    }
}

.md__forms {

    background-color: #DADADA;
    background-image: url(/img/comprar_terreno_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    padding-top: 1rem;
    padding-bottom: 3rem;

    h2 {
        padding-top: 2rem;
        padding-bottom: .3rem;
        margin: 0rem;
    }

    p {
        padding: 0rem;
        margin-top: .5rem !important;
        margin-bottom: 3rem !important;
    }

    .form-control {
        border-radius: 1.87rem;
        padding-left: 1.5rem;
    }

    textarea {
        height: 15rem;
        padding-top: 1rem;

        placeholder {
            padding-top: 10rem;
        }
    }

    button {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }
}