﻿@page "/Home/Politica-de-privacidade"

@using Blazored.Typeahead
@using Microsoft.JSInterop
@using Blazored.TextEditor
@inject IJSRuntime jsRuntime


<section>
    <EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h3>Política de Privacidade</h3>
                </div>
                <div class="col-md-12 text-right">
                    <button class="btn btn btn-lg btn-primary" type="submit"><i class="fas fa-file mr-1"></i> Salvar</button>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <h5 class="mb-3">Conteúdo</h5>
                    <BlazoredTextEditor @ref="@QuillHtml">
                        <ToolbarContent>
                            <select class="ql-header">
                                <option selected=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>
                            </select>
                            <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-strike"></button>
                            </span>
                            <span class="ql-formats">
                                <select class="ql-color"></select>
                                <select class="ql-background"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="ordered"></button>
                                <button class="ql-list" value="bullet"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-link"></button>
                            </span>
                        </ToolbarContent>
                        <EditorContent>
                            <div>
                                @((MarkupString)model.Conteudo)
                            </div>
                        </EditorContent>
                    </BlazoredTextEditor>
                </div>
            </div>
        </div>
    </EditForm>

</section>
