﻿@page "/SEO/{pagina}"
@attribute [Authorize(Roles = "Administrator")]

@inject IJSRuntime jsRuntime
<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">

    <div class="container mb-5">
        <div class="row mt-2">
            
            <div class="col-md-12">
                <h3>SEO - @model.Titulo</h3>
            </div>
            <div class="col-md-12 text-right">
                <button class="btn btn btn-lg btn-primary" type="submit"><span class="oi oi-file"></span> Salvar</button>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <h5>Meta Description</h5>
                    <InputText @bind-Value="model.MetaDescription" class="form-control form-control-lg"></InputText>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <h5>Meta Keywords</h5>
                    <InputText @bind-Value="model.MetaKeyword" class="form-control form-control-lg"></InputText>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <h5>Meta Tittle</h5>
                    <InputText @bind-Value="model.MataTittle" class="form-control form-control-lg"></InputText>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <DataAnnotationsValidator />
                <ValidationSummary />
            </div>
        </div>
    </div>

</EditForm>
