.dark {
    color: $second;
    background-color: #1f2029;
    overflow-y: scroll;

    h1, h2, h3, h4, h5, h6, p, a, span, td{
        color: $second;        
    }

    input, select{
        @extend %input__dark;
    }

    textarea{
        background-color: $first;
    }

    .sidebar {

        &--all {
            box-shadow: 1px 1px 1px lightgray;
        }
    }

    hr{
        color: $first;
    }
}

body.dark {
    filter: brightness(100%);
}




.success{
    color: $sixth!important;
}

.table .thead-light th {
    background-color: $first;
    color: $second!important; 

}
