﻿// css page programa-integridade
.bg__gradient {
    @extend %bg__linear-gradient;
}

.bg__compilance {
    background-color: #A8A8A8;
    background-image: url(/img/bg_prog_integridade.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
}

.content__inner {
    padding: 0rem;

    h1, h2 {
        padding-top: 2rem;
    }

    h2 {
        padding-bottom: 2.5rem;
    }

    h3 {
        color: $first;
        font-size: 1.4rem;
        font-weight: 700;
    }

    h4 {
        font-size: 1.5;
        color: $first;
        font-weight: 700;
        margin: 3.5rem 0rem 2em 0rem;
    }

    .card__pilares {
        background-color: #F9F8F8;
        margin: 1rem 1rem;
        padding: 1.2rem 0rem 0em 0rem;
        max-width: 15rem;
        transition: 0.25s;

        a {
            color: $first;
            font-weight: 300;
            text-decoration: underline;
        }

        h3 {
            margin-bottom: .8rem;
        }
    }

    .cod__conduta {

        button {
            border: none;
            background: none;
            cursor: pointer;
            width: inherit;
            cursor: pointer;
        }

        span {
            margin: 2rem 0rem 4rem 0rem;
        }
    }

    .sec__canal {

        p {
            margin: 1.5rem 0rem;
        }

        p:last-child {
            margin-bottom: 2.3rem;
        }

        span {
            margin: 2rem 0rem 4rem 0rem;
        }

        margin-bottom: -3rem;
    }

    .caption__canal {

        margin-bottom:4rem;

        p:first-child {
            font-size: 0.9rem;
            margin: 0rem;
        }

        svg {
            float: right;
            margin: 0rem 1rem;
        }

        img {
            width: 5.5rem;
            margin: 0rem -0.2rem;
        }

        a, h4 {
            margin: 0rem 0rem 0rem 0rem;
        }

        .qr__code {
            padding: 0rem;
        }
    }
}

.sec__compilance {
    padding-bottom: 5.5rem;

    h2 {
        color: $fourth;
    }

    p {
        padding: 0rem 1.2rem;
    }

    .card__pilares {
        background-color: rgba(255,255,255,0.8);
    }
}


.sec__president {
    .rounded-img {
        border-radius: 30px;
        background-color: rgba(165, 1, 18, 0.8);
        padding: 1rem 2rem;
    }

    .rounded-img img {
        width: 102%;
        margin: 0rem 0rem -0.7rem 0rem;
    }

    p {
        color: $fourth;
        font-size: 1.75rem;
        font-style: italic;
        line-height: 2.2rem;
        margin-top: 1rem;
        padding-left: 1rem;
    }

    img {
        margin-bottom: 0rem;
    }

    span {
        font-weight: 700;
    }
}

.sec__pilares {
    margin-bottom: 3rem;

    a {
        cursor: pointer;
        text-decoration: underline;
    }

    .card__pilares h3 {
        margin-top: 1rem;
    }

    .card__pilares:hover {
        background-color: $first;

        h3, a, button, p {
            color: #F9F8F8;
        }

        img {
            filter: brightness(900);
        }
    }

    .modal__button {
        background: none;
        border: none;
        color: $first;
        cursor: pointer;

        p {
            text-decoration: underline;
            font-size: 1rem;
            margin-top: .8rem;
            color: $first;
        }
    }

    .modal-header {
        padding-bottom: .5rem;

        button.close {
            position: absolute;
            right: 1rem;
            top: -3rem;
            font-size: 2.5rem;
            font-weight: 400;
            color: #fff;
            opacity: 1;
        }
    }

    .modal-title {
        margin: 0 !important;
    }

    .modal-content {
        border-radius: $border-radius-default;
        margin: 0 auto;
        width: 24rem;

        p {
            padding: 0rem 1rem;
            margin-top: -0.5rem;
        }
    }

    modal-footer {
        border-top: none !important;
    }
}

.content__inner .dev__todos {
    font-size: 1.2rem;
    margin: 0;

    h2 {
        padding: 3.5rem 0rem 1rem 0rem;
    }

    .modal_devtodos icon__list {
        margin: .3rem 0rem 0rem 0rem !important;
    }

    .icon__list .row {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.icon__list {
    padding-left: 3rem;
    padding-right: 3rem;

    img {
        width: 1.8rem;
        height: 1.8rem;
        margin-right: .3rem;
    }

    p {
        margin: 0rem 0rem;
    }

    .row {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.dev__left, .dev__right {
    padding-bottom: 4rem;
}

.dev__left {
    background-color: #F9F8F8;
    background-image: url(/img/icons/bg_ok_integridade.svg);
    background-repeat: no-repeat;
    background-position: top center;

    p {
        margin-top: .4rem;
    }
}

.dev__right {
    background-color: $first;
    background-image: url(/img/icons/bg_bad_integridade.svg);
    background-repeat: no-repeat;
    background-position: top center;

    h2 {
        letter-spacing: .05rem;
    }

    h2, p {
        color: #fff;
    }

    .icon__list img {
        filter: brightness(900);
    }

    button.btn.btn__fourth {
        margin-top: 3rem;
    }
}

button.btn.btn__fourth {
    z-index: 10;
    margin-top: 3rem;
}

.lSSlideOuter {
    .lSAction > .lSNext {
        background-image: url(/img/next.png);
    }

    .lSAction > .lSPrev {
        background-image: url(/img/prev.png);
    }

    .lSAction > a {
        opacity: .9;
        height: 50px;
    }

    a {
        > figure {
            img {
                width: 100%;
                @extend %border__radius-default;

                @include media-breakpoint-up (md) {
                    max-height: 310px;
                }
            }
        }

        .caption {
            margin-top: -50px;
            position: relative;
            margin-bottom: 50px;

            legend {
                text-align: center;

                h3 {
                    @extend %color__fourth;
                    font-weight: 700;
                    @include rhythm (16, 22);
                }

                p {
                    @extend %color__fourth;
                    @include rhythm (14, 18);
                }
            }
        }

        &:hover {
            text-decoration: none;
        }

        figure {
            margin-bottom: 0;
        }

        .tint {
            position: relative;
            cursor: pointer;

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.47) 76%);
                border-radius: 30px;
                transition: all .3s linear;
            }
        }
    }
}
