
$color-map: ( 
    first: $first, //cyan
    second: $second, //green
    third: $third, //white
    fourth: $fourth, //grey
);

@each $name, $color in $color-map {
    %color__#{$name} {
        color: $color;
    }

    %bg__#{$name} {
        background: rgba($color, 1);
    }

    .bg__#{$name} {
        background: rgba($color, 1);
    }

    .btn__#{$name} {
        @extend %bg__#{$name};

        &:hover, &:focus {
            background: rgba($color, .9);
            transition: .3s ease all;
        }
    }

    .btn__#{$name}[data-state='reversed'] {
        background: rgba(255,255, 255, 1);
        @extend %color__#{$name};

        &:hover, &:focus {
            background: rgba( 255, 255,255, .9);
            transition: .3s ease all;
        }
    }
}
%bg__linear-gradient   {
    background: linear-gradient(180deg, #F0F0F0 -6.71%, rgba(245, 245, 245, 0) 54%);
}
%bg__linear-gradient-reverse    {
    background: linear-gradient(to top, #F0F0F0 -6.71%, rgba(245, 245, 245, 0) 54%);
}
/*
* Font default
*
*/
%font_1{
    font-family:'Titillium Web';
    font-size: 1rem;
    font-weight:400;
}
/*
*
* margin-top default
*
*/
%margin__default-between{
    margin-top: $margin__top;
}
/*
*
* Border radius default
*
*/
%border__radius-default{
    border-radius: $border-radius-default;
}
/* 
*
* margin default values
*
*/
$margin__default: 1rem;
$margin__default-md: 1.5rem;
%margin__default-bottom{
    margin-bottom: $margin__default;
    @include media-breakpoint-up(md){
        margin-bottom: $margin__default-md;
    }
}
%margin__default-top{
    margin-top: $margin__default;
    @include media-breakpoint-up(md){
        margin-top: $margin__default-md;
    }
}
%margin__default-title-empreendimento{
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(md){
        margin-bottom: 3.3rem;
    }
}
/* 
*
* bg fixed - parallax
*
*/
%bg__attach-fixed{
    @include media-breakpoint-up(md){
        background-attachment: fixed;
    }
}

%bg__responsive{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* 
*
* p, span, li default values
*
*/
%p__default-font{
    @include rhythm(18, 25);
}
%p__default-font-empreendimento{
    @include rhythm(14, 20);
}
%p__default-weight{
    font-weight: 400;
}
%p__default{
    @extend %color__third;
    @extend %p__default-weight;
    @extend %p__default-font;
}

%p__default-empreendimento{
    @extend %color__third;
    @extend %p__default-weight;
    @extend %p__default-font-empreendimento;
}

/* 
*
* h2 default values
*
*/
%h2__default-font{
    @include rhythm(22, 26.4);
    @include media-breakpoint-up(md){
        @include rhythm(36, 43.2);
    }
}
%h2__default-weight{
    font-weight: 700;
    @include media-breakpoint-up(md){
        font-weight: 700;
    } 
}
%h2__default{
    @extend %color__first;
    @extend %h2__default-weight;
    @extend %h2__default-font;
    @extend %margin__default-top;
}
%h2__default-empreendimento{
    @extend %color__first;
    @extend %h2__default-weight;
    @extend %h2__default-font;
    @extend %margin__default-title-empreendimento;
}
%letter__spacing__default{
    letter-spacing: .3em;
}



@mixin btn__underline {
    font-size: .75rem;
    @extend %color__first;
    text-decoration: underline;
    cursor: pointer;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
        font-size: .875rem;
    }
}