// Variables

$first: #134a86; //cyan
$second: #c3db88; //green
$third: #fff; //white
$fourth: #f8f8f8; //grey
//global
$border-radius-default: 0px;

//padding sections
$padding-default: 2.5rem 0;
//margin cols
$margin_default: 1.5rem;

@include media-breakpoint-down(md){
    $padding-default: 1.5rem 0;
}

//margin default
$margin__top: 2rem;
