.area{
    padding-bottom: 4rem;
    background-image: url('/img/area.png');
    background-position: -420px ​260px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5rem;
    &__item{
        margin: 2rem 0;

        @include media-breakpoint-up(md){
            margin: 3rem 0;

        }

        .card{
            border: none;
            background: transparent;
            h3{
                @extend %color__first;
                @include rhythm(24, 33);
                font-weight: 600;
            }
        }
        a{
            &:hover{
                text-decoration: none;
            }
        }
    }
    img + h3 + p{
        margin: 1rem 0;
    }
}