﻿
<h3><i class="fas fa-images"></i> @(model.Id == Guid.Empty ? "Inserir" : "Alterar")  @(extensionMethods.Description((EnumTipoGaleria)tipoGaleria) == "Imóvel" ? "Imagem do Imóvel" : extensionMethods.Description((EnumTipoGaleria)tipoGaleria))</h3>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <div class="row">
        <div class="col-md-12 mb-xl-3">
            <IdiomaTabComponent ProcessarIdiomaModel="HandleProcessarIdiomaModel" hideTabsIdioma="@hideTabsIdioma" idiomaParam="@idiomaModal"></IdiomaTabComponent>
        </div>
        @if (!model.EhVideo)
        {
            <div class="col-md-12">
                <div class="form-group">
                     <h5 class="mb-3">Banner</h5>

                    <UploadImgFile width="1920" height="1080" ProcessarImagemCallBack="HandleProcessarUrlBannerCallBack"></UploadImgFile>
                </div>
                <div class="form-group">
                    @if (model.UrlImagem != null)
                    {
                        <ImgComponent LinkImagem="@model.UrlImagem"></ImgComponent>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div class="form-group">
                    <label>Video Youtube</label>
                    <InputText @bind-Value="model.UrlVideo" class=""></InputText>
                </div>
            </div>
        }

        <div class="col-md-12">
            <div class="form-group">
                <h5 class="mb-3">Título</h5>
                <InputText @bind-Value="model.Titulo" class=""></InputText>
            </div>
            <div class="form-group">
                <h5 class="mb-3">Descrição</h5>
                <InputText @bind-Value="model.Descricao" class=""></InputText>
            </div>

            <div class="form-group d-flex">
                <InputCheckbox @bind-Value="model.EhVideo" class="my-auto"></InputCheckbox>
                <h5 class="ml-3">Video</h5>
                
            </div>
            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>
        <div class="col-md-12 text-right">
            <button class="btn btn btn-lg btn-primary" type="submit"><i class="fas fa-file"></i> Salvar</button>
        </div>
    </div>
</EditForm>

