﻿@using Laterza.Admin.Data.Data.Empreendimento
@using Microsoft.JSInterop
@using Laterza.Admin.Blazor.Data
@using Laterza.Admin.Data.Enum
@using Laterza.Admin.Data.Models.Empreendimento
@using System
@using System.Collections.Generic
@using System.Linq;
@using System.Threading.Tasks;
@inject IJSRuntime JSRuntime

@if (empreendimentoGaleriaDetalhes != null)
{

<div class="grid-container">
    @if (empreendimentoGaleriaDetalhes != null && empreendimentoGaleriaDetalhes.Count > 0)
    {
        <Dropzone Items="empreendimentoGaleriaDetalhes" InstantReplace="true" TItem="EmpreendimentoGaleriaModel" OnItemDrop="@((p) => OnItemDrop(p))" OnReplacedItemDrop="@((p) => OnReplacedItemDrop(p))">
            <div class="col-md-12 mb-4">
                <div class="grid-item col-md-12 p-0">
                    @if (context.EhVideo)
                    {
                        <ImgComponent LinkImagem="@("img/icons/Youtube_logo.png")" Class="table-img-mini"></ImgComponent>@context.UrlVideo
                    }
                    else
                    {
                        <ImgComponent LinkImagem="@(context.UrlImagem.Replace(".jpeg", "_thumb.jpeg"))" Class="table-img-mini"></ImgComponent>
                    }
                </div>
            </div>
        </Dropzone>
    }

</div>

<button type="button" class="btn btn-primary btn-lg mb-2" @onclick='() => Save()'>
    <i class="fas fa-file"></i> Salvar
</button>
           
}
@code { 
    [Parameter]
    public int tipoGaleria { get; set; }

    [Parameter]
    public EventCallback ProcessarEventCallback { get; set; }

    [Inject]
    IEmpreendimentoGaleriaDataService empreendimentoGaleriaDataService { get; set; }

    [Parameter]
    public List<EmpreendimentoGaleriaModel> empreendimentoGaleriaDetalhes { get; set; }


    private EmpreendimentoGaleriaModel DropedItem = new EmpreendimentoGaleriaModel();
    private EmpreendimentoGaleriaModel replacedItem = new EmpreendimentoGaleriaModel();

    public void OnItemDrop(EmpreendimentoGaleriaModel item)
    {
        DropedItem = item;
        StateHasChanged();
    }

    public void OnReplacedItemDrop(EmpreendimentoGaleriaModel item)
    {
        replacedItem = item;
        StateHasChanged();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    private void Save()
    {
        try
        {
            foreach (var e in empreendimentoGaleriaDetalhes)
            {
                e.Ordem = empreendimentoGaleriaDetalhes.IndexOf(e);
                empreendimentoGaleriaDataService.EmpreendimentoGaleriaOrderUpdate(e);
            }
            JSRuntime.InvokeAsync<object>("sendMessage", new { mensagem = "Edição feita com sucesso.", tipo = "ok" });
        }
        catch (Exception e)
        {
            JSRuntime.InvokeAsync<object>("sendMessage", new { mensagem = e.Message, tipo = "error" });
        } finally
        {
            var modal = (EnumTipoGaleria)tipoGaleria;
            JSRuntime.InvokeAsync<object>("hideModal", "modal-galeria-order-" + modal);
            ProcessarEventCallback.InvokeAsync();
        }

        StateHasChanged();
    }
}
