﻿@page "/Home/Empreendimento"
@attribute [Authorize(Roles = "Administrator")]
@using BlazorTable

<section class="d-flex flex-column tabela">
    <h3 class="mb-2 align-self-center">Empreendimentos</h3>
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-between col-12">
            <div class="form-group" >
                <h5 class="mb-2"><i class="fas fa-filter mr-1"></i>Filtrar por estado</h5>
                <EditForm Model="@model">
                    <InputSelect @oninput="HandleFirstDropDownChange" class="" @bind-Value="model.Estado">
                        <option selected value="">Todos</option>
                        @foreach (var e in estados)
                        {
                            <option value="@(e.Slug)">@(e.Nome)</option>
                        }
                    </InputSelect>
                </EditForm>

            </div>
            <div class="align-self-end mb-2">
                <button class="btn btn-primary" @onclick="(() => Create())">
                    <i class="fa fa-plus"></i> Novo
                </button>
            </div>
        </div>

        <div class="col-12">
            <Table TableItem="IEmpreendimentoModel" Items="@modelList" PageSize="30">
                
                <Column TableItem="IEmpreendimentoModel" Title="Imagem" Field="@(x => x.UrlBanner)" Width="6%">

                    <Template>
                        @if (!string.IsNullOrEmpty(context.UrlBanner))
                    {
                        <ImgComponent LinkImagem="@(context.UrlBanner.Replace(".jpeg", "_thumb.jpeg"))"
                            Class="table-img-mini"></ImgComponent>
                        }
                    </Template>
                </Column>
                <Column TableItem="IEmpreendimentoModel" Title="" Field="@(x => x.Ativo)" Width="6%">
                    <Template>
                        @if (context.Ativo)
                    {
                        <p class="font-weight-bolder success">Ativo</p>
                        }
                    else
                    {
                        <p class="font-weight-bolder">Inativo</p>
                        }
                    </Template>
                </Column>
                <Column TableItem="IEmpreendimentoModel" Title="Titulo" Field="@(x => x.Nome)" Sortable="true"
                    Filterable="true" Width="37%" />
                <Column TableItem="IEmpreendimentoModel" Title="UF" Field="@(x => x.EstadoNome)" Sortable="true"
                    Filterable="true" Width="10%" />
                <Column TableItem="IEmpreendimentoModel" Title="Bairro" Sortable="true" Field="@(x => x.Bairro)"
                    Width="10%">
                    <Template>
                        @if (context.Bairro != null)
                    {
                        <p>@(System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(context.Bairro))</p>
                        }
                    </Template>
                </Column>
                <Column TableItem="IEmpreendimentoModel" Title="Status" Sortable="true"
                    Field="@(x => x.StatusEmpreendimento)" Width="10%">
                    <Template>
                        <p>@(extensionMethods.Description((EnumStatusEmpreendimento)context.StatusEmpreendimento))</p>
                    </Template>
                </Column>
                <Column TableItem="IEmpreendimentoModel" Title="Data" Sortable="true"
                    Field="@(x => x.DataAlteracao)" Width="10%">
                    <Template>
                        <p>@(context.DataAlteracao.ToString("dd/MM/yyyy"))</p>
                    </Template>
                </Column>
                <Column TableItem="IEmpreendimentoModel" Title="Ação" Field="@(x => x.Id)" Width="10%">
                    <Template>
                        @if (modelList.Count > 0)
                    {
                        @if (idToDelete == context.Id)
                        {
                            <div class="d-flex">
                                <button type="button" class="btn btn-success mr-1 popoverDeleteConfirm botao--icon"
                                @onclick='() => DeleteGaleria(context)'><i class="fa fa-check"
                                aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-danger botao--icon" @onclick='() => idToDelete = Guid.Empty'><i class="fas fa-times"></i></button>
                            </div>
                           
                        }
                        else
                        {
                            <div class="d-flex">
                                <button class="btn btn-success botao--icon" @onclick='() => Edit(context)'><i class="fa fa-pencil-alt"
                                aria-hidden="true"></i></button>
                                @if (modelList.Count > 0)
                            {
                                <button type="button" class="btn btn-danger botao--icon"
                                @onclick='() => DeleteGaleriaConfirm(context)'><i class="fa fa-trash"
                                aria-hidden="true"></i></button>
                            }
                            </div>
                            

                            
                        }
                        }
                    </Template>
                </Column>
                @* <Column TableItem="IEmpreendimentoModel" Title="" Field="@(x => x.Id)" Width="4%">
                    <Template>
                        <button class="btn btn-danger" @onclick='() => DeleteBanner(context)'><span class="oi
                            oi-trash" aria-hidden="true"></span></button>
                       
                    </Template>
                </Column> *@
                <Pager ShowPageNumber="true" ShowTotalCount="true" />
            </Table>
        </div>
    </div>

</section>
