﻿@page "/Home/Empreendimento/novo/"
@page "/Home/Empreendimento/editar/{id}"

@using Blazored.Typeahead
@using Laterza.Admin.Blazor.Data
@using System.IO
@using Microsoft.Extensions.Configuration
@using Microsoft.JSInterop
@using System.IO.Compression
@using Laterza.Admin.Blazor.Pages.BeneficioPagamento
@using Laterza.Admin.Blazor.Pages.FichaTecnica
@using Blazored.TextEditor
@inject IJSRuntime jsRuntime

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <section class="d-flex flex-column">
        <h3>Cadastrar Empreendimento</h3>

        <div class="col-md-12 text-right">
            <button class="btn btn btn-lg btn-primary" type="submit">
                <span class="fa fa-file mr-3"></span>Salvar
            </button>
        </div>

        <div class="d-flex flex-wrap col-12 p-0">
            <div class="col-6 p-0">
                <div class="form-group">
                    <h5 class="mb-3">Nome</h5>
                    <InputText @bind-Value="model.Nome" class=""></InputText>
                </div>
            </div>
            <div class="col-6 p-0">
                <div class="form-group">
                    <h5 class="mb-3">Subtítulo</h5>
                    <InputText @bind-Value="model.SubTitulo" class=""></InputText>
                </div>
            </div>

            <div class="col-6 p-0">
                <div class="form-group">
                    <h5 class="mb-3">Status</h5>
                    <InputSelect class=" " @bind-Value="model.StatusEmpreendimento">
                        @foreach (var m in
                   Enum.GetValues(typeof(EnumStatusEmpreendimento)).Cast<EnumStatusEmpreendimento>().ToList())
                        {
                            <option value="@(((int)m).ToString())">@(extensionMethods.Description(m))</option>
                        }
                    </InputSelect>
                </div>
            </div>

            <div class="col-6 p-0">
                <div class="form-group text-left">
                    <h5 class="mb-3">Ano Entrega</h5>
                    <InputText @bind-Value="model.AnoEntrega" class=" "></InputText>
                </div>
            </div>
        </div>

        <div class="col-12 p-0">

            <h5 class="mb-3">Resumo</h5>
            <!-- start editor de texto -->
            <BlazoredTextEditor @ref="@QuillHtml">
                <ToolbarContent>
                    <select class="ql-header">
                        <option selected=""></option>
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                    </select>
                    <span class="ql-formats">
                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-underline"></button>
                        <button class="ql-strike"></button>
                    </span>
                    <span class="ql-formats">
                        <select class="ql-color"></select>
                        <select class="ql-background"></select>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-list" value="ordered"></button>
                        <button class="ql-list" value="bullet"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-link"></button>
                    </span>
                </ToolbarContent>
                <EditorContent>
                    <div>
                        @((MarkupString)model.Resumo)
                    </div>
                </EditorContent>
            </BlazoredTextEditor>



            <!-- end test -->
        </div>
        <hr />

        <div class="row">
            <div class="col-12 cadastro__novo--img ">
                <div class="form-group">
                    <h5 class="mb-3">Banner</h5>

                    <UploadImgFile width="1920" height="1080"
                                   ProcessarImagemCallBack="HandleProcessarUrlBannerCallBack">
                    </UploadImgFile>
                </div>
                <div class="form-group">
                    @if (!string.IsNullOrEmpty(model.UrlBanner))

                    {
                        <ImgComponent LinkImagem="@model.UrlBanner"></ImgComponent>

                    }

                    else

                    {
                        <p class="text-danger">
                            <span class="fa fa-exclamation-triangle text-danger"
                                  aria-hidden="true"></span> Atenção: Sem imagem
                        </p>
                    }
                </div>
            </div>
            <div class="col-12 p-0">
                <div class="d-flex">
                    <div class="col-6">
                        <div class="form-group">
                            <h5 class="mb-3">Estado</h5>
                            <InputSelect @oninput="HandleFirstDropDownChange" class="" @bind-Value="model.Estado">
                                <option disabled selected value> -- Escolha um estado -- </option>
                                @foreach (var e in estados)

                                {
                                    <option value="@(e.Slug)">@(e.Nome)</option>

                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <h5 class="mb-3">Cidade</h5>
                            @if (cidades.Count > 0)

                            {
                                <InputSelect class="" @bind-Value="model.Cidade">
                                    <option disabled selected value> -- Escolha um cidade -- </option>
                                    @foreach (var c in cidades)

                                        {
                                        <option value="@(c.Slug)">@(c.Nome)</option>

                                        }
                                </InputSelect>

                            }
                        </div>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="col-6">
                        <div class="form-group">
                            <h5 class="mb-3">Bairro</h5>
                            <BlazoredTypeahead @onmousedown:preventDefault SearchMethod="buscarBairros"
                                               @bind-Value="model.Bairro" EnableDropDown="true" class=" rua">
                                <SelectedTemplate Context="bairro">
                                    @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(bairro.ToString())
                                </SelectedTemplate>
                                <ResultTemplate Context="bairro">
                                    @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(bairro.ToString())
                                </ResultTemplate>
                            </BlazoredTypeahead>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <h5 class="mb-3">Região</h5>
                            <BlazoredTypeahead @onmousedown:preventDefault SearchMethod="buscarBairros"
                                               @bind-Value="model.RegiaoDoBairro" EnableDropDown="true" class="rua">
                                <SelectedTemplate Context="regiaoDoBairro">
                                    @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(regiaoDoBairro.ToString())
                                </SelectedTemplate>
                                <ResultTemplate Context="regiaoDoBairro">
                                    @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(regiaoDoBairro.ToString())
                                </ResultTemplate>
                            </BlazoredTypeahead>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (!novoRegistro)

        {
            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <h5 class="mb-3">Endereço</h5>
                        <InputText @bind-Value="model.Endereco" class="rua"></InputText>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <h5 class="mb-3">Meta Description</h5>
                        <InputText @bind-Value="model.MetaDescription" class="rua"></InputText>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <h5 class="mb-3">Meta Keywords</h5>
                        <InputText @bind-Value="model.MetaKeyword" class="rua"></InputText>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <h5 class="mb-3">Meta Tittle</h5>
                        <InputText @bind-Value="model.MataTittle" class=" rua"></InputText>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <h5 class="mb-3">Latitude</h5>
                        <InputText @bind-Value="model.Latitude" class=""></InputText>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <h5 class="mb-3">Longitude</h5>
                        <InputText @bind-Value="model.Longitude" class=""></InputText>
                    </div>
                </div>
            </div>

            <hr />
            <div class="row">
                <div class="col-4">
                    <div class="form-group form-inline text-left">
                        <InputCheckbox @bind-Value="model.DestacarHome" class="mr-2"></InputCheckbox>
                        <h5 class="d-inline-block mr-3">Destacar na Home</h5>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group form-inline text-left">
                        <InputCheckbox @bind-Value="model.Ativo" class="mr-2 "></InputCheckbox>
                        <h5 class="d-inline-block mr-3">Ativo</h5>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group form-inline text-left">
                        <InputCheckbox @bind-Value="model.DestacarStatus" class="">
                        </InputCheckbox>
                        <h5 class="d-inline-block mr-3">Destacar na página de empreendimentos</h5>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h5 class="mb-3">Quartos</h5>
                        <InputText @bind-Value="model.Quartos" class=""></InputText>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <h5 class="mb-3">Metragem do terreno</h5>
                        <InputText @bind-Value="model.MetragemTerreno" class=""></InputText>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <h5 class="mb-3">Metragem da casa</h5>
                        <InputText @bind-Value="model.MetragemCasa" class=""></InputText>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <h5 class="mb-3">Vagas na garagem</h5>
                        <InputText @bind-Value="model.VagasGaragem" class=""></InputText>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h5 class="mb-3">Unidades</h5>
                        <InputText @bind-Value="model.QtdUnidades" class=""></InputText>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <EmpreendimentoGaleriaTableComponent ProcessarEventCallback="HandleStateChange"
                                                         idEmpreendimento="model.Id" TipoGaleria="(int)EnumTipoGaleria.Imovel">
                    </EmpreendimentoGaleriaTableComponent>
                </div>
                <div class="col-md-12">
                    <EmpreendimentoGaleriaTableComponent ProcessarEventCallback="HandleStateChange"
                                                         idEmpreendimento="model.Id" TipoGaleria="(int)EnumTipoGaleria.Planta">
                    </EmpreendimentoGaleriaTableComponent>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <BeneficioPagamentoTableComponent ProcessarEventCallback="HandleStateChange"
                                                      IdEmpreendimento="model.Id">
                    </BeneficioPagamentoTableComponent>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <FichaTecnicaTableComponent ProcessarEventCallback="HandleStateChange"
                                                IdEmpreendimento="model.Id">
                    </FichaTecnicaTableComponent>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <EmpreendimentoRelacionadoTableComponent idEmpreendimento="model.Id"
                                                             ProcessarEventCallback="HandleStateChange"></EmpreendimentoRelacionadoTableComponent>
                </div>
            </div>

        }

        <div class="row">
            <div class="col-md-12">
                <DataAnnotationsValidator />
                <ValidationSummary />
            </div>
        </div>
    </section>
</EditForm>

@code{

    public IFileListEntry[] filesEntry { get; set; }

    string status = ".zip - A página inicial dentro do zip deve ser a index.html";

    const int MaxFileSize = 5 * 1024 * 1024;
    string fileName;

    string fileContent;

    string imageDataURL;

    bool spinner;

    protected override async Task OnAfterRenderAsync(bool firstRender)

    {

        JSRuntime.InvokeAsync<object>("activateCep", null);

        await base.OnAfterRenderAsync(firstRender);

    }

    async Task TourVirtualUpload(IFileListEntry[] files)

    {

        var file = files.FirstOrDefault();

        if (file == null)

        {

            //return;

        }

        else

        {

            spinner = true;

            var ms = new MemoryStream();

            await file.Data.CopyToAsync(ms);

            fileName = file.Name;

            if (Path.GetExtension(fileName)?.ToLower() == ".zip")

            {

                status = "Carregando...";

                var modelSave = _mapper.Map<EmpreendimentoModelUpdateCreate>(model);

                filesEntry = files;

                string extractPath = @".\wwwroot\tour\" + extensionMethods.CreateSlug(model.Nome);

                if (!string.IsNullOrEmpty(modelSave.TourVirtual))

                {

                    string extractPathOld = @".\wwwroot\tour\" + modelSave.TourVirtual;

                    if (Directory.Exists(extractPath))

                        Directory.Delete(extractPath, true);

                }

                if (Directory.Exists(extractPath))

                    // Ask user confirmation if needed

                    Directory.Delete(extractPath, true);

                var archive = new ZipArchive(ms);

                using (ZipArchive zip = new ZipArchive(ms))

                {

                    zip.ExtractToDirectory(extractPath);

                }

                modelSave.Slug = extensionMethods.CreateSlug(modelSave.Nome);

                modelSave.TourVirtual = modelSave.Slug;

                empreendimentoDataService.EmpreendimentoUpdate(modelSave);

                status = "Upload Ok";

                JSRuntime.InvokeAsync<object>("sendMessage", new { mensagem = "Edição feita com sucesso.", tipo = "ok" });

            }

            else

            {

                JSRuntime.InvokeAsync<object>("sendMessage", new

                {

                    mensagem = "Favor inserir um arquivo to tipo ZIP.",

                    tipo = "error"

                });

            }

            spinner = false;

            HandleProcessarIdiomaModel("");

            StateHasChanged();

        }

    }
}