﻿
<h3 class="mb-3"><i class="fas fa-info"></i> @(model == Guid.Empty ? "Inserir" : "Alterar")  Selecione o empreendimento desejado </h3>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <div class="row">
       
        <div class="col-md-12">
            <InputSelect class="estado" @bind-Value="model">
                <option disabled selected value> -- Escolha um estado -- </option>
                @foreach (var e in modelList)
                {
                    <option value="@(e.Id)">@(e.Estado + " - " + e.Cidade + " - " + extensionMethods.CreateSlug(e.Bairro) + " - " + e.Nome)</option>
                }
            </InputSelect>
            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>
        <div class="col-md-12 text-right">
            <button class="btn btn btn-lg btn-primary mt-4" type="submit"><i class="fas fa-file"></i>  Salvar</button>
        </div>
    </div>

</EditForm>