﻿@page "/Home/Empreendimento/listaUrl/"
@attribute [Authorize(Roles = "Administrator")]

<h3>Lista de Urls Empreendimento com Quartos</h3>


<ul class="list-group">
    @foreach (var item in modelList)
    {
        if ((int)EnumTipoEmpreendimento.Empresarial == item.TipoEmpreendimento)
        {
            var color = "";
            if (string.IsNullOrEmpty(item.Estado) ||
                string.IsNullOrEmpty(item.Cidade) ||
                string.IsNullOrEmpty(item.Bairro) ||
                string.IsNullOrEmpty(item.TipoEmpreendimento.ToString()) ||
                string.IsNullOrEmpty(item.Quartos) || item.Quartos.Trim().Contains("-") ||
                string.IsNullOrEmpty(item.Slug))
            {
                color = "text-danger";
            }
    <li class="list-group-item @color">/@item.Estado/@item.Cidade/@extensionMethods.CreateSlug(item.Bairro)/@extensionMethods.CreateSlug(extensionMethods.Description((EnumTipoEmpreendimento)item.TipoEmpreendimento).ToLower())/@extensionMethods.CreateSlug(item.Quartos)/@item.Slug/</li>
        }
        else
        {
            var color = "";
            if (string.IsNullOrEmpty(item.Estado) ||
                string.IsNullOrEmpty(item.Cidade) ||
                string.IsNullOrEmpty(item.Bairro) ||
                string.IsNullOrEmpty(item.TipoEmpreendimento.ToString()) ||
                string.IsNullOrEmpty(item.Slug))
            {
                color = "text-danger";
            }
    <li class="list-group-item">/@item.Estado/@item.Cidade/@extensionMethods.CreateSlug(item.Bairro)/@extensionMethods.CreateSlug(extensionMethods.Description((EnumTipoEmpreendimento)item.TipoEmpreendimento).ToLower())/@item.Slug/</li>
        }
    }

</ul>
