﻿@using BlazorTable

<div class="row mb-3 align-items-end">
    <div class="col-md-10">

        <h5>@(extensionMethods.Description((EnumTipoGaleria)TipoGaleria) == "Imóvel" ? "Galeria do Imóvel" : extensionMethods.Description((EnumTipoGaleria)TipoGaleria))</h5>

    </div>

    <div class="col-md-2 text-right">
        <button type="button" class="btn btn-lg btn-primary mr-2" @onclick="(() => Create())">
            <span class="fa fa-plus"></span>
        </button>
        @if (modelList.Count > 0)
        {
            <button type="button" class="btn btn-lg btn-outline-secondary" @onclick="(() => Order())">
                <i class="fa fa-filter" aria-hidden="true"></i>
            </button>
        }

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <Table id="@((EnumTipoGaleria)TipoGaleria)" TableItem="IEmpreendimentoGaleriaModel" Items="@modelList" PageSize="8">
            <Column TableItem="IEmpreendimentoGaleriaModel" Title="" Field="@(x => x.UrlImagem)" Width="7%">
                <Template>
                    @if (context.EhVideo)
                    {
                        <ImgComponent LinkImagem="@("img/icons/Youtube_logo.png")" Class="table-img-mini"></ImgComponent>
                    }
                    else
                    {
                        <ImgComponent LinkImagem="@(context.UrlImagem.Replace(".jpeg", "_thumb.jpeg"))" Class="table-img-mini"></ImgComponent>
                    }
                </Template>
            </Column>

            <Column TableItem="IEmpreendimentoGaleriaModel" Title="Título" Field="@(x => x.Titulo)" Sortable="true" Filterable="true" Width="40%" />
            <Column TableItem="IEmpreendimentoGaleriaModel" Title="Descrição" Field="@(x => x.Descricao)" Sortable="true" Filterable="true" Width="40%" />

            <Column TableItem="IEmpreendimentoGaleriaModel" Title="Ação" Field="@(x => x.Id)" Width="10%">
                <Template>
                    @if (idToDelete == context.Id)
                    {
                        <button type="button" class="btn btn-success mr-1 popoverDeleteConfirm" @onclick='() => DeleteGaleria(context)'><i class="fa fa-check" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-danger" @onclick='() => idToDelete = Guid.Empty'><i class="fas fa-times"></i></button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-info mr-1" @onclick='() => Edit(context)'><i class="fas fa-pencil-alt" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-danger" @onclick='() => DeleteGaleriaConfirm(context)'><i class="fa fa-trash" aria-hidden="true"></i></button>
                    }
                </Template>
            </Column>
            <Pager ShowPageSizes="false" ShowPageNumber="false" ShowTotalCount="false" />
        </Table>
    </div>
</div>

@if ((EnumTipoGaleria)TipoGaleria == EnumTipoGaleria.Imovel)
{

    <div class="modal modal-fullscreen fade" id="modal-galeria-order-Imovel" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <EmpreendimentoGaleriaOrderComponent empreendimentoGaleriaDetalhes="modelList" tipoGaleria="(int)EnumTipoGaleria.Imovel"  ProcessarEventCallback="HandleProcessarCallBack"></EmpreendimentoGaleriaOrderComponent>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-fullscreen fade" id="modal-form-Imovel" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <EmpreendimentoGaleriaFormComponent ProcessarEventCallback="HandleProcessarCallBack" idEmpreendimento="idEmpreendimento" tipoGaleria="(int)EnumTipoGaleria.Imovel" empreendimentoGaleriaDetalhes="empreendimentoGaleriaFotosDetalhes"></EmpreendimentoGaleriaFormComponent>
                </div>
            </div>
        </div>
    </div>

}
else if ((EnumTipoGaleria)TipoGaleria == EnumTipoGaleria.Planta)
{

    <div class="modal modal-fullscreen fade" id="modal-galeria-order-Planta" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>*@
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <EmpreendimentoGaleriaOrderComponent empreendimentoGaleriaDetalhes="modelList" tipoGaleria="(int)EnumTipoGaleria.Planta" ProcessarEventCallback="HandleProcessarCallBack"></EmpreendimentoGaleriaOrderComponent>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-fullscreen fade" id="modal-form-Planta" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>*@
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <EmpreendimentoPlantaFormComponent ProcessarEventCallback="HandleProcessarCallBack" idEmpreendimento="idEmpreendimento" tipoGaleria="(int)EnumTipoGaleria.Planta" empreendimentoGaleriaDetalhes="empreendimentoGaleriaPlantasDetalhes"></EmpreendimentoPlantaFormComponent>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="modal modal-fullscreen fade" id="modal-galeria-order-StatusDaObra" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    @*<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>*@
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <EmpreendimentoGaleriaOrderComponent empreendimentoGaleriaDetalhes="modelList" tipoGaleria="(int)EnumTipoGaleria.StatusDaObra" ProcessarEventCallback="HandleProcessarCallBack"></EmpreendimentoGaleriaOrderComponent>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal-form-StatusDaObra" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    @*<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>*@
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <EmpreendimentoGaleriaFormComponent ProcessarEventCallback="HandleProcessarCallBack" idEmpreendimento="idEmpreendimento" tipoGaleria="(int)EnumTipoGaleria.StatusDaObra" empreendimentoGaleriaDetalhes="empreendimentoGaleriaStatusDaObraDetalhes"></EmpreendimentoGaleriaFormComponent>
                </div>
            </div>
        </div>
    </div>

}







