﻿
<h3><span class="oi oi-info"></span> @(model.Id == Guid.Empty ? "Inserir" : "Alterar")  Faq </h3>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <div class="row">
        <div class="col-md-12 mb-xl-3">
            <IdiomaTabComponent ProcessarIdiomaModel="HandleProcessarIdiomaModel" hideTabsIdioma="@hideTabsIdioma" idiomaParam="@idiomaModal"></IdiomaTabComponent>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Tipo de Faq</label>
                <InputSelect class="form-control form-control-lg" @bind-Value="model.TipoFaq">
                    @foreach (var m in Enum.GetValues(typeof(EnumFaq)).Cast<EnumFaq>().ToList())
                    {
                        <option value="@(((int)m).ToString())">@(extensionMethods.Description(m))</option>
                    }
                </InputSelect>
            </div>
        </div>
       
        <div class="col-md-12">
            <div class="form-group">
                <label>Ordenação</label>
                <InputNumber @bind-Value="model.Secao" class="form-control form-control-lg"></InputNumber>
            </div>
            <div class="form-group">
                <label>Pergunta</label>
                <InputText @bind-Value="model.Titulo" class="form-control form-control-lg"></InputText>
            </div>
            <div class="form-group">
                <label>Resposta</label>
                <InputTextArea @bind-Value="model.Texto" class="form-control form-control-lg"></InputTextArea>
            </div>
            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>
        <div class="col-md-12 text-right">
            <button class="btn btn btn-lg btn-primary" type="submit"><span class="oi oi-file"></span> Salvar</button>
        </div>
    </div>
</EditForm>