.info{
    &__list{
        @include media-breakpoint-up(md){
            column-gap: 21%;
        }
        &-item{
            margin-bottom: 1rem;
            margin-right: 0;
            span{
                margin-right: .5rem;
            }
        }
    }
}