﻿<section class="flow section__emp__detalhe">
    <div class="h-100 container">
        <div class="h-100 row justify-content-between">
            <div class="col-md-12">
                <div class="row h-100">
                    <h1 class="align-items-start">A oportunidade<br/>de realizar seu sonho.</h1>
                    <p class="align-items-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur lacinia gravida. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam id risus ex. Praesent venenatis elit odio, ut efficitur enim efficitur eget. Morbi condimentum pharetra nibh id fermentum. Aenean facilisis id urna quis accumsan. Integer at bibendum risus, non eleifend dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin eget viverra lorem.</p>
                </div>
            </div>
        </div>
        <div class="h-100 row justify-content-between">
            <div class="col-md-12">
                <div class="row h-100">
                    <h1 class="align-items-start">Residencial Petrópolis</h1>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
