﻿<section class="flow section__emp__detalhe">
    <div class="h-100 container caption__head">
        <div class="h-100 row justify-content-between flex-column-reverse flex-md-row">
            <div class="col-md-4">
                <div class="row h-100">
                    <h1 class="align-items-start">@Empreendimento.Nome</h1>
                    <h3 class="align-items-center my-3">@Empreendimento.SubTitulo</h3>
                    <a href="https://api.whatsapp.com/send?phone=5534999844888" style="text-transform: none;" class="align-items-end btn btn-block" tabindex="-1" role="button" aria-disabled="true">Fale com consultor</a>
                </div>
            </div>
            <div class="h-100 col-md-7 img-fluid">
                <img src="@Empreendimento.UrlBanner" alt="@Empreendimento.Nome" title="@Empreendimento.Nome"/>
            </div>
        </div>
    </div>

    <div class="h-100 container emp__descricao">
        @if (!string.IsNullOrEmpty(Empreendimento.Resumo))
        {
            <div class="h-100 row justify-content-between">
                <div class="col-md-12">
                    <h2 class="align-items-start">A oportunidade<br />de realizar seu sonho.</h2>
                    @((MarkupString)Empreendimento.Resumo)
                </div>
            </div>
        }
        <div class="h-100 row justify-content-between emp__itens">
            <div class="col-md-12">
                <div class="row h-100 d-flex align-items-center">
                    <ul>
                        @foreach (var beneficio in BeneficiosPagamento)
                        {
                            <li class="row"><img src="/img/check-icon.jpg" alt="Construtora Laterza" title="Construtora Laterza" height="25" /><h3 class="align-items-start">@beneficio.BeneficioPagamento</h3></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
