﻿@if (Galeria.Count > 0)
{
    <section class="flow galery__blog">
        <div class="h-100 container">
            <div class="h-100 row">
                <div class="h-100 row justify-content-start">
                    <div class="col-md-12">
                        <div class="row h-100">
                            <h2 class="align-items-start">Galeria de imagens</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="row">
                            @foreach (var imagem in Galeria)
                            {
                                <a href="@imagem.UrlImagem" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                                    <img src="@imagem.UrlImagem.Replace(".jpeg", "_thumb.jpeg")" alt="Construtora Laterza" title="Construtora Laterza" class="img-fluid">
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}