﻿@if (!string.IsNullOrEmpty(Empreendimento.Latitude) && !string.IsNullOrEmpty(Empreendimento.Longitude))
{
    <div class="h-100 container emp__planta">
        <div class="h-100 row justify-content-between">
            <div class="row h-100 galery__emp">
                <h2 class="align-items-start">Perto de tudo que você precisa</h2>
            </div>
        </div>
    </div>
    <div class="h-100 container-fluid map__locale">
        <div style="height:600px; width:100%;" id="map"></div>
        @*<img style="opacity: 0;" src="/img/bg_contato_2.png" />*@
    </div>
}