﻿<div class="h-100 container emp__planta">
    <div class="h-100 row justify-content-between">
        @if (Plantas.Count > 0)
        {
            <div class="col-md-5">
                <div class="row h-100 galery__emp">
                    <h2 class="align-items-start">Planta imovel</h2>
                    @foreach (var imagem in Plantas)
                    {
                        <a href="@imagem.UrlImagem" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                            <img src="@imagem.UrlImagem.Replace(".jpeg", "_thumb.jpeg")" alt="Construtora Laterza" title="Construtora Laterza" class="img-fluid">
                        </a>
                    }
                </div>
            </div>
        }
        @if(FichasTecnicas.Count > 0 || !string.IsNullOrEmpty(Empreendimento.MetragemTerreno) 
            || !string.IsNullOrEmpty(Empreendimento.Quartos) || !string.IsNullOrEmpty(Empreendimento.RegiaoDoBairro))
        {
                <div class="col-md-6 fich__tec">
                    <h2 class="align-items-start">Ficha Técnica</h2>
                    <ul>
                        @foreach (var fichaTecnica in FichasTecnicas)
                        {
                            <li class="row"><img src="/img/check-icon.jpg" height="25" alt="Construtora Laterza" title="Construtora Laterza"/><h4 class="align-items-start">@fichaTecnica.Titulo</h4></li>
                        }
                        @if (!string.IsNullOrEmpty(Empreendimento.MetragemTerreno))
                        {
                            <li class="row"><img src="/img/check-icon.jpg" height="25" alt="Construtora Laterza" title="Construtora Laterza"/><h4 class="align-items-start">@Empreendimento.MetragemTerreno</h4></li>
                        }
                        @if (!string.IsNullOrEmpty(Empreendimento.Quartos))
                        {
                            <li class="row"><img src="/img/check-icon.jpg" height="25" alt="Construtora Laterza" title="Construtora Laterza"/><h4 class="align-items-start">@Empreendimento.Quartos Quartos</h4></li>
                        }
                        @if (!string.IsNullOrEmpty(Empreendimento.RegiaoDoBairro))
                        {
                            <li class="row"><img src="/img/check-icon.jpg" height="25" alt="Construtora Laterza" title="Construtora Laterza"/><h4 class="align-items-start">Região do Bairro @Empreendimento.RegiaoDoBairro</h4></li>
                        }
                    </ul>
                </div>
        }
        
    </div>
</div>
@code {

}
