﻿// css page faleConosco
.bg__section {
    background-image: url(/img/fale-conosco.png);
    background-size: cover;
    background-position-y: center;
}
.md__forms {

    h2, p {
        color: #fff;
    }

    p {
        margin: 1rem 0rem 2rem 0rem !important;
    }

    .form-control {
        border-radius: 1.87rem;
        padding-left: 1.5rem;
    }

    textarea {
        height: 15rem;
        padding-top: 1rem;

        placeholder {
            padding-top: 10rem;
        }
    }

    button {
        margin-top: -10.5rem;
    }
}
