﻿
<h3><span class="oi oi-home"></span> @(model.Id == Guid.Empty ? "Inserir" : "Alterar") Sala de Imprensa</h3>
<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <div class="row">
        <div class="col-md-12">

            <div class="form-group">
                <label>Imagem</label>
                <UploadImgFile width="600" height="400" ProcessarImagemCallBack="HandleProcessarUrlImagemCallBack"></UploadImgFile>
            </div>
            <div class="form-group">
                @if (model.UrlImagem != null)
                {
                    <ImgComponent LinkImagem="@model.UrlImagem"></ImgComponent>
                }
            </div>

            <div class="form-group">
                <label>Título</label>
                <InputText @bind-Value="model.Titulo" required class="form-control form-control-lg"></InputText>
            </div>

            <div class="form-group d-none">
                <label>Descrição</label>
                <InputText @bind-Value="model.Descricao" class="form-control form-control-lg"></InputText>
            </div>

            <div class="form-group">
                <label>Link</label>
                <InputText @bind-Value="model.Link" required class="form-control form-control-lg"></InputText>
            </div>

            <div class="form-group">
                <label>Data</label>
                <InputDate @bind-Value="model.DataPublicacao" required @bind-Value:format="dd/MM/yyyy" class="form-control form-control-lg"></InputDate>
            </div>

            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>


        <div class="col-md-12 text-right">
            <button class="btn btn btn-lg btn-primary" type="submit"><span class="oi oi-file"></span> Salvar</button>
        </div>
    </div>

</EditForm>