﻿<section class="flow content__artigo">
    <div class="h-100 container">
        <div class="h-100 row justify-content-center">
            <div class="col-md-12">
                <div class="row h-100 content__priv">
                    <h3>@((MarkupString)PoliticaDePrivacidade.Conteudo)</h3>
                </div>
            </div>
        </div>
    </div>
</section>
