﻿<section class="h-100 row justify-content-center hero__default section__priv__hero">
    <div class="h-100 row container align-items-center justify-content-center">
        <h1>Política de privacidade</h1>
    </div>
</section>
@code {

}
