﻿<section class="h-100 row justify-content-center section__home__hero">
    <div class="h-100 row container align-items-start justify-content-start text-left">
        <h1>Construa o seu<br/>novo futuro agora</h1>
    </div>
</section>
@code {

}
