﻿@using Laterza.Admin.Data.Enum;

@if (Empreendimentos.Count > 0)
{
    <section class="flow section__cards obra__and">
        <div class="h-100 container justify-content-center card__content">
            <div class="h-100 row align-items-center justify-content-between sub__title">
                <div class="col-md-7">
                    <h2>Obras em andamento</h2>
                </div>
                <div class="col-md-5">
                    <h5>
                        Novos futuros que estão sendo<br />construídos com qualidade e carinho.
                    </h5>
                </div>
            </div>
            <div class="h-100 row justify-content-center">
                @foreach (var empreendimento in Empreendimentos)
                {
                    <div class="col-md-4">
                        <div class="card">
                            <div class="status__label">
                                <h5>@(extensionMethods.Description((EnumStatusEmpreendimento)empreendimento.StatusEmpreendimento))</h5>
                            </div>
                            <img class="card-img-top" src="@(!string.IsNullOrEmpty(empreendimento.UrlBanner) ? empreendimento.UrlBanner : "/img/card_img.jpg")" alt="@empreendimento.Nome" title="@empreendimento.Nome">
                            <div class="card-body">
                                <h5 class="card-title">Região do bairro @(empreendimento.RegiaoDoBairro != null ? empreendimento.RegiaoDoBairro : empreendimento.Bairro)</h5>
                                <h5 class="card-title">@empreendimento.Cidade @empreendimento.EstadoNome</h5>
                                <h3 style="margin-bottom:.5rem;">@empreendimento.Nome</h3>
                                @foreach (var fichaTecnicaDestaque in empreendimento.FichasTecnicas)
                                {
                                    <h5 class="card-text">@fichaTecnicaDestaque.Titulo</h5>
                                }
                            </div>
                            <a href="/empreendimento-detalhes/@empreendimento.Slug" target="_top" class="btn align-items-end btn btn-block">Ver mais</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}