﻿@using BlazorTable
@using Laterza.Admin.Data.Models.FichaTecnica;
<hr>
<div class="row mb-3 align-items-end">
    <div class="col-md-10">

        <h5>Ficha Técnica</h5>

    </div>

    <div class="col-md-2 text-right">
        <button type="button" class="btn btn-lg btn-primary mr-2" @onclick="(() => Create())">
            <i class="fas fa-plus"></i>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <Table TableItem="IFichaTecnicaModel" Items="@modelList" PageSize="8">
            <Column TableItem="IFichaTecnicaModel" Title="Benefício" Field="@(x => x.Titulo)" Sortable="true" Filterable="true" Width="40%" />
            <Column TableItem="IFichaTecnicaModel" Title="Destaque" Field="@(x => x.Destacar)" Sortable="true" Filterable="true" Width="20%">
                <Template>
                    <p>@((context.Destacar ? "Sim" : "Não"))</p>
                </Template>
            </Column>

            <Column TableItem="IFichaTecnicaModel" Title="Ação" Field="@(x => x.Id)" Width="10%">
                <Template>
                    @if (idToDelete == context.Id)
                    {
                        <button type="button" class="btn btn-success mr-1 popoverDeleteConfirm" @onclick='() => DeleteFichaTecnica(context)'><i class="fas fa-check"></i></button>
                        <button type="button" class="btn btn-danger" @onclick='() => idToDelete = Guid.Empty'><i class="fas fa-times"></i></button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-success mr-1" @onclick='() => Edit(context)'><i class="fas fa-pencil-alt"></i></button>
                        <button type="button" class="btn btn-danger" @onclick='() => DeleteFichaTecnicaConfirm(context)'><i class="fas fa-trash-alt"></i></button>
                    }
                </Template>
            </Column>
            <Pager ShowPageSizes="false" ShowPageNumber="false" ShowTotalCount="false" />
        </Table>
    </div>
</div>

<div class="modal modal-fullscreen fade" id="modal-form-FichaTecnica" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <FichaTecnicaFormComponent ProcessarEventCallback="HandleProcessarCallBack" idEmpreendimento="IdEmpreendimento" FichaTecnicaDetalhes="FichaTecnicaDetalhes"></FichaTecnicaFormComponent>
            </div>
        </div>
    </div>
</div>