﻿@using Blazored.Typeahead
<h3>@(model.Id == Guid.Empty ? "Inserir" : "Alterar") Ficha Técnica</h3>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <h5>Título</h5>
                <BlazoredTypeahead @onmousedown:preventDefault
                                   SearchMethod="BuscarFichasTecnicas"
                                   @bind-Value="@model.Titulo"
                                   EnableDropDown="true"
                                   class=" rua">
                    <SelectedTemplate Context="FichaTecnica">
                        @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(FichaTecnica.ToString())
                    </SelectedTemplate>
                    <ResultTemplate Context="FichaTecnica">
                        @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(FichaTecnica.ToString())
                    </ResultTemplate>
                </BlazoredTypeahead>
            </div>
            <div class="col-12 p-0">
                <div class="form-group form-inline text-left">
                    <InputCheckbox @bind-Value="model.Destacar" class="mr-2 "></InputCheckbox>
                    <h5 class="d-inline-block mr-3">Destacar</h5>
                </div>
            </div>
            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>
        <div class="col-md-12 text-right">
            <button class="btn btn btn-lg btn-primary" type="submit"><i class="fas fa-file"></i> Salvar</button>
        </div>
    </div>
</EditForm>

