﻿@page "/Home/Banner"
@using BlazorTable


<section>
    <div class="d-flex justify-content-between">
     <h3>Banner</h3>
        <div class="row mb-2">
            <div class="col-md-12">
                <button class="btn btn-primary btn-lg" @onclick="(() => CreateBanner())">
                <i class="fas fa-plus mr-1"></i> Criar
                </button>
            </div>
        </div>
    </div>
   

    <Table TableItem="IHomeBannerModel" Items="@modelList" PageSize="10">
        <Column TableItem="IHomeBannerModel" Title="Img" Field="@(x => x.UrlImagem)" Width="10%">
            <Template>
                <ImgComponent LinkImagem="@context.UrlImagem" Class="table-img-mini"></ImgComponent>
            </Template>
        </Column>
        <Column TableItem="IHomeBannerModel" Title="Titulo" Field="@(x => x.Titulo)" Sortable="true" Filterable="true" Width="10%" />
        <Column TableItem="IHomeBannerModel" Title="" Field="@(x => x.Ativo)" Width="6%">
            <Template>
                @if(context.Ativo)
                {
                    <p class="font-weight-bolder success">Ativo</p>
                }
                else
                {
                    <p class="font-weight-bolder">Inativo</p>
                }
            </Template>
        </Column>
        <Column TableItem="IHomeBannerModel" Title="Ação" Field="@(x => x.Id)" Width="5%">
            <Template>
                @if (modelList.Count > 0)
                {
                    @if (idToDelete == context.Id)
                    {
                        <button type="button" class="btn btn-success mr-1 popoverDeleteConfirm" @onclick='() => Delete(context)'><i class="fas fa-check"></i></button>
                        <button type="button" class="btn btn-danger" @onclick='() => idToDelete = Guid.Empty'><i class="fas fa-times"></i></button>
                    }
                    else
                    {
                        <button class="btn btn-success mr-1" @onclick='() => Edit(context)'><i class="fas fa-pencil-alt"></i></button>
                        @if (modelList.Count > 0)
                        {
                            <button type="button" class="btn btn-danger" @onclick='() => DeleteConfirm(context)'><i class="fas fa-trash"></i></button>

                        }
                    }
                }
            </Template>
        </Column>
        <Pager ShowPageNumber="true" ShowTotalCount="true" />
    </Table>

</section>
