﻿@page "/home/banner/novo"
@page "/home/banner/editar/{id}"

@using Laterza.Admin.Blazor.Data
@using System.IO
@using Microsoft.Extensions.Configuration

@inject IIdiomaDataService idiomaDataService



<section>
    <EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h3>Cadastrar Banner</h3>
                </div>
                <div class="col-md-12 text-right">
                    <button class="btn btn btn-lg btn-primary" type="submit"><span class="fas fa-file mr-1"></span> Salvar</button>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <h5 class="mb-3">Nome</h5>
                        <InputText @bind-Value="model.Titulo" class=""></InputText>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <h5 class="mb-3">Link</h5>
                        <InputText @bind-Value="model.Link" class=""></InputText>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h5 class="mb-3">Imagem</h5>

                        <UploadImgFile width="1920" height="1080" ProcessarImagemCallBack="HandleProcessarImagemCallBack"></UploadImgFile>
                    </div>
                    <div class="form-group">
                        @if (!string.IsNullOrEmpty(model.UrlImagem))
                        {
                            <ImgComponent LinkImagem="@model.UrlImagem"></ImgComponent>
                        }
                        else
                        {
                            <span class="oi oi-x text-danger oi-large" aria-hidden="true"></span>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group form-inline text-left">
                        <InputCheckbox @bind-Value="model.Ativo" class="my-auto"></InputCheckbox>
                        <h5 class="d-inline-block ml-2">Ativo</h5>
                        

                    </div>
                </div>
                
            </div>

            <div class="row">
                <div class="col-md-12">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                </div>
            </div>

        </div>
    </EditForm>

</section>

