﻿<AuthorizeView>
    <Authorized>
        <div>
            <a href="Identity/Account/Manage" class="login__a">Usuário:<br> @context.User.Identity.Name</a>
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="btn btn__third mt-2 login__botao">Sair</button>
            </form>

        </div>

    </Authorized>
    <NotAuthorized>
        <div class="my-4 d-flex flex-column">
            <a href="Identity/Account/Login" class="font-weight-bold my-1">Login</a>
            <a href="Identity/Account/Register" class="font-weight-bold my-1">Registre-se</a>
        </div>

    </NotAuthorized>
</AuthorizeView>
