﻿@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<header class="header">
    <NavMenu />
</header>
<div class="page main main__switched" id="main">
    <div class="">

    </div>

    <div>


    </div>
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            await JSRuntime.InvokeVoidAsync("loadScript", "/js/navbar.js");
            await base.OnAfterRenderAsync(firstRender);
        }
    }
}