﻿<div class="d-flex align-items-start">
    <nav id="sidebar" class="sidebar--all">
        <div class="sidebar__header">
        <a class="navbar-brand" href="">
            <img src="/img/logo.png" alt="Construtora Laterza" title="Construtora Laterza" class="img-fluid sidebar__logo--block">
            <img src="/img/logo_small.png" alt="Construtora Laterza" title="Construtora Laterza" class="img-fluid sidebar__logo--sm">
        </a>
        </div>
        <div class="section mt-2">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-column align-items-end">
                        <div>
                            <span class="mr-1">&#9728;</span>
                            <span>&#9789;</span>
                        </div>

                        <div id="switch">
                            <div id="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="list-unstyled components">
            <li>
                <NavLink class="nav-link" href="home/Empreendimento">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                    <span class="sidebar__p--none">Empreendimento</span>
                </NavLink>
            </li>
            <li class="">
                <NavLink class="nav-link" href="home/Publicacao">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <span class="sidebar__p--none">Blog</span>
                </NavLink>
            </li>
            <li class="">
                <NavLink class="nav-link" href="home/Banner">
                    <i class="fas fa-home" aria-hidden="true"></i>
                    <span class="sidebar__p--none">Home</span>
                </NavLink>
            </li>
            <li class="">
                <NavLink class="nav-link" href="home/politica-de-privacidade">
                    <i class="fa fa-folder" aria-hidden="true"></i>
                    <span class="sidebar__p--none"> Política de Privacidade</span>
                </NavLink>
            </li>
        </ul>

        <ul class="list-unstyled components">
            <li>
                <NavLink class="nav-link" href="#">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <span class="sidebar__p--none">SEO</span>
                </NavLink>
            </li>
            <li class="">
                <NavLink class="nav-link" href="SEO/home">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <span class="sidebar__p--none">SEO Home</span>
                </NavLink>
            </li>
            <li class="">
                <NavLink class="nav-link" href="SEO/quem-somos">
                    <i class="fas fa-globe" aria-hidden="true"></i>
                    <span class="sidebar__p--none">SEO Quem Somos</span>
                </NavLink>
            </li>
            <li class="">
                <NavLink class="nav-link" href="SEO/empreendimentos">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <span class="sidebar__p--none">SEO Empreendimentos</span>
                </NavLink>
            </li>
            <li class="">
                <NavLink class="nav-link" href="SEO/lancamentos">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <span class="sidebar__p--none">SEO Lançamentos</span>
                </NavLink>
            </li>
            <li class="">
                <NavLink class="nav-link" href="SEO/obras-em-andamento">
                    <i class="fas fa-globe" aria-hidden="true"></i>
                    <span class="sidebar__p--none">SEO Obras em Andamento</span>
                </NavLink>
            </li>
            <li class="">
                <NavLink class="nav-link" href="SEO/blog">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <span class="sidebar__p--none">SEO Blog</span>
                </NavLink>
            </li>
            <li class="">
                <NavLink class="nav-link" href="SEO/contato">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <span class="sidebar__p--none">SEO Contato</span>
                </NavLink>
            </li>
            <li class="">
                <NavLink class="nav-link" href="/guia">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <span class="sidebar__p--none">Guia de Cadastro</span>
                </NavLink>
            </li>
        </ul>

        <div class="container mt-2">
            <LoginDisplay />
        </div>

    </nav>
    <button type="button" id="sidebarCollapse" class="sidebar__btn sidebar__btn--close">
        <span class=""></span>
    </button>

</div>
