﻿<section class="flow section__emp__dest">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <!--
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    -->
        <div class="carousel-inner">
            @foreach (var empreendimento in EmpreeendimentosDestaques)
            {
                <div class="carousel-item @(EmpreeendimentosDestaques.IndexOf(empreendimento) == 0 ? "active" : "")">
                    <div class="h-100 container">
                        <div class="h-100 row justify-content-between flex-column-reverse flex-md-row">
                            <div class="col-md-4">
                                <div class="row h-100">
                                    <h1 class="align-items-start"> @empreendimento.Nome</h1>
                                    <p class="align-items-center my-4">@empreendimento.Resumo</p>
                                    <a href="/empreendimento-detalhes/@empreendimento.Slug" class="align-items-end btn btn-block" tabindex="-1" role="button" aria-disabled="true">Ver mais</a>
                                </div>
                            </div>
                            <div class="h-100 col-md-7">
                                <img src="@empreendimento.UrlBanner" alt="@empreendimento.Nome" title="@empreendimento.Nome"/>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        @if (EmpreeendimentosDestaques.Count > 1)
        {
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <!--<span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>
                <span class="sr-only">Next</span>
            </a>
        }
    </div>
</section>