﻿<section class="flow section__post__list">
    @foreach (var post in Posts)
    {
        <div class="h-100 container card__blog">
            <div class="h-100 row justify-content-between text-left">
                <div col-md-6>
                    <img src="@(post.UrlImagemDestaque.Replace(".jpeg", "_thumb.jpeg"))" alt="@post.Titulo" title="@post.Titulo"/>
                </div>
                <div class="col-md-6">
                    <div class="h-100 d-flex align-content-between flex-wrap">
                        <div class="mat__destaque">
                            <h5>@post.DataCriacao.ToString("dd/MM/yyyy")</h5>
                        </div>
                        <h2 class="col-md-12 align-items-center">@post.Descricao</h2>
                        <a href="artigo/@post.Slug" class="col-md-7 align-items-center btn btn-block" tabindex="-1" role="button" aria-disabled="true">Continuar lendo</a>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
