﻿@page "/"
@namespace Laterza.Front.Blazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Laterza.Front.Blazor.Data.MetaTag

@{
    Layout = null;
    var (title, keywords, description, canonical) = UrlHelper.GetSeoData(this.HttpContext.Request.Path);
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    @*SEO*@
    <component type="typeof(TitleTagComponent)" render-mode="Static" param-Content=@title />
    <component type="typeof(KeywordsMetaTagComponent)" render-mode="Static" param-Content=@keywords />
    <component type="typeof(DescriptionMetaTagComponent)" render-mode="Static" param-Content=@description />
    <component type="typeof(CanonicalMetaTagComponent)" render-mode="Static" param-Content=@canonical />
    <component type="typeof(OgDescriptionMetaTagComponent)" render-mode="Static" param-Content=@description />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Laterza.Front.Blazor</title>
    <base href="~/" />
    <!-- favicon -->
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="icon" href="/img/favicon.png">
    <!-- css link -->
    <link href="app/css/style.css" rel="stylesheet" />
    <!-- <link href="build/style.css" rel="stylesheet" /> -->
    <link href="Laterza.Front.Blazor.styles.css" rel="stylesheet" />
    <!-- RD Station -->
    <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/cf96ff76-cf44-415d-b5b8-bb3f209d8f72-loader.js"></script>

</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    @*<div id="blazor-error-ui">
            <environment include="Staging,Production">
                An error has occurred. This application may no longer respond until reloaded.
            </environment>
            <environment include="Development">
                An unhandled exception has occurred. See browser dev tools for details.
            </environment>
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>*@
    <script>
        /* nav hover start */
        $('.MINHACLASSE:not(.active)').on('mouseover', function () {
            $(this).parent().find('.submenu-list-item.active').removeClass('active');
            $(this).addClass('active');
        });/* end */

    </script>
    <script src="_framework/blazor.server.js"></script>
    <!-- ligth galery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js" integrity="sha512-YibiFIKqwi6sZFfPm5HNHQYemJwFbyyYHjrr3UT+VobMt/YBo1kBxgui5RWc4C3B4RJMYCdCAJkbXHt+irKfSA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js.map"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js.map"></script>

    @* Maps *@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7EGDUHXhjQJtwJYJgR6H7sZ2hkgcGKDs&libraries=places&callback=initMap" async defer></script>
    <script type="text/javascript">
        initMap = function (parameters) {
            var latitude = parseFloat(parameters.latitude);
            var longitude = parseFloat(parameters.longitude);
            var myLocation = {
                lat: latitude,
                lng: longitude
            };
            setPos(myLocation);
        }

        function setPos(myLocation) {
            map = new google.maps.Map(document.getElementById('map'), {
                center: myLocation,
                zoom: 16
            });

            var placeService = new google.maps.places.PlacesService(map);

        }

        function createMarkers(results) {
            console.log(results);
            var iconBase = '/img/icons/';
            for (var i = 0, place; place = results[i]; i++) {
                var icon = {
                    url: iconBase + place.types[0] + '.svg',
                    scaledSize: new google.maps.Size(50, 50), // scaled size
                    origin: new google.maps.Point(0, 0), // origin
                    anchor: new google.maps.Point(0, 0) // anchor
                };
                var marker = new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    animation: google.maps.Animation.DROP,
                    position: place.geometry.location
                });
            }
        }

    </script>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <!-- bs bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="/js/scriptLoader.js"></script>
</body>
</html>
