﻿@page "/artigo/{slug}"


<Laterza.Front.Blazor.Pages.artigo.HeroArtigoComponent />
<Laterza.Front.Blazor.Pages.artigo.ConteudoArtigoComponent Post="PostModel"/>
<Laterza.Front.Blazor.Pages.artigo.ImageGalleryComponent PostGaleria="PostGaleriaModel" />


@code {

}
