﻿@page "/blog"
@page "/blog/{categoria}"



<Laterza.Front.Blazor.Pages.blog.HeroBlogComponent />
<Laterza.Front.Blazor.Pages.blog.PostDestaque Posts="PostModel.Where(P => P.Destacar).ToList()"/>
<Laterza.Front.Blazor.Pages.blog.ListaPosts Posts="PostModel.Where(P => !P.Destacar).ToList()" />


@code {

}
