﻿@using Laterza.Front.Blazor.Pages.empreendimentos;

@page "/empreendimentos"
@page "/empreendimentos/{estado}"
@page "/empreendimentos/{estado}/{cidade}"


<DestaqueComponent EmpreeendimentosDestaques="@EmpreendimentosModel.Where(E => E.DestacarStatus).ToList()"/>
<BuscaComponent ProcessarEventCallback="HandleStateChange" />
<CardEmpreendimentosComponent Empreendimentos="@EmpreendimentosModel.Where(E => !E.DestacarStatus).ToList()" Status="@Status"/>
<div class="contact_emp">
    <ContactFormComponent />
</div>
