﻿@page "/empreendimento-detalhes/{slug}"


<Laterza.Front.Blazor.Pages.empreendimento_detalhes.DestaqueEmpreendimento Empreendimento="Empreendimento" BeneficiosPagamento="BeneficiosPagamento"/>
<Laterza.Front.Blazor.Pages.empreendimento_detalhes.GaleriaEmpreendimento Galeria="GaleriaImovel"/>
<Laterza.Front.Blazor.Pages.empreendimento_detalhes.PlantaFicha Plantas="GaleriaPlantas" FichasTecnicas="FichasTecnicas" Empreendimento="Empreendimento"/>
<Laterza.Front.Blazor.Pages.empreendimento_detalhes.MapaEmpreendimento Empreendimento="Empreendimento" />
<div class="contact_map">
    <ContactFormComponent />
</div>




@code {

}
