﻿@page "/"
@page "/{estado}"
@page "/{estado}/{cidade}"




<Laterza.Front.Blazor.Pages.home.HeroHomeComponent />
<BuscaComponent ProcessarEventCallback="HandleStateChange" />
<Laterza.Front.Blazor.Pages.home.LancamentosComponent Empreendimentos="EmpreendimentosModel.Where(E => E.StatusEmpreendimento == 4).ToList()" />
<Laterza.Front.Blazor.Pages.home.ObrasAndamentoComponent Empreendimentos="EmpreendimentosModel.Where(E => E.StatusEmpreendimento == 1).ToList()" />
<div class="contact_home">
    <ContactFormComponent />
</div>

@code {

}
