﻿@page "/quem-somos"

<Laterza.Front.Blazor.Pages.quem_somos.HeroQuemSomos />
<Laterza.Front.Blazor.Pages.quem_somos.Missao />
<Laterza.Front.Blazor.Pages.quem_somos.Visao />
<Laterza.Front.Blazor.Pages.quem_somos.Valores />
<Laterza.Front.Blazor.Pages.quem_somos.LinhaEmp />
<Laterza.Front.Blazor.Pages.quem_somos.Diferenciais />
<Laterza.Front.Blazor.Pages.quem_somos.Empresas />


@code {

}
