
a{
    color: $primary;
    transition: .3s ease all;
    font-weight: 700;
    &:hover{
        transition: .3s ease all;
        color: darken($first,15%);
    }
}
@include media-breakpoint-down(sm){
    *{
        font-size: 14px;
    }
}



:focus{outline: none; box-shadow:none!important;}
@include media-breakpoint-up(lg){
    body{
        padding-top: 100px;
    }
    .acessibility {
        z-index: 1032 !important;
        .acessibility__item{
            svg{
                top: 3px;
                position: relative;
            }
            li{
                cursor: pointer;
                color: $first;

                font-weight: 700;
                a{
                    font-weight: 700;
                    color: $first;
                }
            }
        }
    }
}
.column-count{
    &.column-count-two{ 
        list-style: none;
        column-count: 1;
        @include media-breakpoint-up(md){
            display: inline-block;
            column-count: 2;

        }
    }
}
.lSSlideOuter {
    .lSPager.lSpg {
        > li {
            a{
                width: 9.5px;
                height: 9.5px;
                background: #fff;
                border: 1px solid #C4C4C4;
            }
            &:hover, &.active{
                a{
                    @extend %bg__first;
                }
            }
        }
    }
}
.gradient-grey{
    @extend %bg__linear-gradient;
}
section{
    padding: $padding-default;
    // & + section:not([style*="background-image"]){
    //     padding: $padding-default;
    // }
    // section:not([style*="background-image"]) + section{
    //     padding: $padding-default;
    // }
}
$footer__pm: 5rem;

footer{
    @include media-breakpoint-up(md){
        padding: $footer__pm 0;
        padding-bottom: 2rem;
    }
    padding: 2rem 0 5rem 0;
    
}

h1{

    &[data-state='reversed']{
        @extend %color__third;
    }
}
h2{
    @extend %h2__default;
    &[data-state='reversed']{
        @extend %color__third;
    }
}
h3{
    &[data-state='reversed']{
        @extend %color__third;
    }
}
h4{

}
h5{

}
h6{

}
p, li, span{
    @extend %p__default;
}
li{

}
span{

}
.sitemap.content__inner{
 
    .sitemap{
        h2{
            @extend %color__sixth;
            @extend %font__default;
            margin-top: 0;
            // @include media-breakpoint-down(md){
            //     margin-top: 1.5rem;
            // }
        }
        h2 + ul{
            margin-top: 1rem;
        }
        ul{
            li{
                margin-bottom: .8rem;
            }
        }
        ul.list__custom{
            li{
                @extend %font__default;
                margin-bottom: .8rem;
               
            }
        }
    }
    @include media-breakpoint-up(md){
        .sitemap{
            h2{
                font-weight: 700;
                margin-bottom: 0px;
                @include rhythm(22,26);

            }
            ul{
                margin-top: 1rem !important;
                li{
                    @include rhythm(16,18);
                    margin-bottom: .8rem;
                    a{
                        font-weight: 400;
                    }
                }
                
            }
        }
        .social{
            img{
                margin-bottom: 3rem;
            }
            ul{
                li{
                    &:not(:last-child){
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
    ul{
        li{
            a{
                @extend %color__third;
            }
        }
    }
}
footer{      
    @include media-breakpoint-down(lg){
        .container{
            max-width: 100%;
        }
    }
    @include media-breakpoint-up(lg){
        .social{
            border-top:8px solid;
            position: relative;
            color: $sixth;
            margin-top: -($footer__pm);
            padding-top: $footer__pm;
        }
        // border-top:8px solid;
        // position: relative;
        // color: $sixth;
        // &:after, &:before{
        //     content: "";
        //     display:block;
        //     height:9px;
        //     padding:0;margin:0;
        //     background-color:$seventh;
        //     position: absolute;
        //     top:-8px;
         
        // }
        // &:after{
        //     right:0;
        //     width: 65%;
        // }
        // &:before{
        //     left:0;
        //     width: 28%;
        // }
    }
    %font__default{
        @include rhythm(16,19);
    }
    a{
        &:hover{
            color: #fff;
        }
    }
    @extend %bg__seventh;
    @include media-breakpoint-down(md){
        border-top: 7.53px solid;
        border-color: $sixth;
        .social{
            order: 2;
            img{
                margin: 3rem 0;
            }
            ul{
                li{
                    &:not(:last-child){
                        margin-right: 1.5rem;
                    }
                }
            }
        }
        .sitemap{
            order: 1;
            ul{
                li{
                    &:not(:last-child){
                        margin-bottom: 1.5rem;
                    }
                    a{
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .d-md-none{
        .sitemap{
            ul{
                li{
                    @extend %font__default;
                }
            }
        }
    }
    .sitemap{
        h2{
            @extend %color__sixth;
            @extend %font__default;
            margin-top: 0;
        }
        ul.list__custom{
            li{
                @extend %font__default;
                margin-bottom: .8rem;
                a{
                    font-weight: 700;
                }
            }
        }
    }
    @include media-breakpoint-up(md){
        .sitemap{
            h2{
                font-weight: 700;
                margin-bottom: 12px;
                @include rhythm(16,19);
            }
            ul{
                li{
                    @include rhythm(12,14);
                    margin-bottom: .8rem;
                    a{
                        font-weight: 400;
                    }
                }
                
            }
        }
        .social{
            img{
                margin-bottom: 3rem;
            }
            ul{
                li{
                    &:not(:last-child){
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
    ul{
        li{
            a{
                @extend %color__fourth;
            }
        }
    }
}

@include media-breakpoint-down(lg){
    .navbar_main{
        .container{
            max-width: 100%;
        }
    }
}

@include media-breakpoint-up(md){
  
    .navbar_main{
        transition: padding-top .7s;
        padding-top: 30px !important;

        &.nav_scrolled{
        //    padding-top: 0 !important;
           transition: padding-top .7s;
        }
        background: #fff;
        box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.26);
        ul{
            align-items: center;
            li{
                padding-bottom: 0;
        
                &:not(:last-child){
                    margin-right: 1.5rem;
                }
                &.search{
                    position: relative;
                    top: -3px;
                    a{
                        color: $first;
                        font-weight: 700;
                    }
                }
                a{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    color: #4F4F4F;
                    &:hover{
                        color: $first;
                        transition: .3s ease-in;
                    }
                    svg{
                        position: relative;
                        top: 3px;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(lg){

    .menu{
        background: #fff;
        padding: .9rem 0;
        transition: .4s height ease;
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
        .menu__navigate{
            opacity: 0;
            position: absolute;
            z-index: -1;
            ul{
                -webkit-transform: translateX(-500%) translateY(-500%);
                -moz-transform: translateX(-500%) translateY(-500%);
                transform: translateX(-500%) translateY(-500%);
            }
        }
        &.menu__open{
            min-height: 100vh;
            transition: .4s height ease;
            box-shadow: none;
            padding-top: 8rem;
            .menu__navigate{
                transition: transform .5s ease-in-out;
                position: relative;
                opacity: 1;
                text-align: center;
                z-index: 99;
                
                // transform: translateX(50px)

                ul{
                    -webkit-transform: translateX(0%) translateY(50%);
                    -moz-transform: translateX(0%) translateY(50%);
                    transform: translateX(0%) translateY(31%);
                    text-align: center;
                    background: #fff;
                    li{
                        margin-bottom: 1.3rem;
                        a{
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 17px;
                            text-align: center;
                            color: #4F4F4F;
                        }
                    }
                }
            }
            .menu__logo{
                flex: 0 0 100%;
                text-align: center;
                transition: .3s width ease;
                max-width: 100%;
                padding-right: 15px !important;
                img{
                    width: 120px;
                    transition: .5s width ease;
                }
            }
            .menu__nav{
                right: 0;
                position: absolute;
                top: 9rem;
                z-index: 999;
            }
            .menu__list{
                flex: 0 0 100%;
                text-align: center;
                transition: .3s width ease, .4s bottom all;
                max-width: 100%;
                position: fixed;
                bottom: 0;
                padding: 1rem 0 !important;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
                li{
                    margin: 0 2.2rem;
                }
            }
        }
        
        &__list{
            li{
                &:not(:last-child){
                    margin-right: 1rem;
                }
            }
        }
        &__open{
            min-height: 100vh;
            &__logo{
                flex: 0 0 100%;
                text-align: center;
                transition: .3s width ease;
                max-width: 100%;
            }
            &__list{
                flex: 0 0 100%;
                text-align: center;
                transition: .3s width ease, .4s bottom all;
                max-width: 100%;
                position: fixed;
                bottom: 0;
            }
        }
        &__nav{


    @-webkit-keyframes "top" {
        0% {
            top: 0%;
        }
        60% {
            top: 45.8333333333%;
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(45deg);
        }
    }
    @-moz-keyframes "top" {
        0% {
            top: 0%;
        }
        60% {
            top: 45.8333333333%;
            -moz-transform: rotate(0deg);
        }
        100% {
            -moz-transform: rotate(45deg);
        }
    }
    @keyframes "top" {
        0% {
            top: 0%;
        }
        60% {
            top: 45.8333333333%;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    @-webkit-keyframes "bottom" {
        0% {
            bottom: 0%;
        }
        60% {
            bottom: 45.8333333333%;
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(-45deg);
        }
    }
    @-moz-keyframes "bottom" {
        0% {
            bottom: 0%;
        }
        60% {
            bottom: 45.8333333333%;
            -moz-transform: rotate(0deg);
        }
        100% {
            -moz-transform: rotate(-45deg);
        }
    }
    @keyframes "bottom" {
        0% {
            bottom: 0%;
        }
        60% {
            bottom: 45.8333333333%;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
    @-webkit-keyframes "topreverse" {
        0% {
            -webkit-transform: rotate(45deg);
            top: 45.8333333333%;
        }
        60% {
            -webkit-transform: rotate(0deg);
            top: 45.8333333333%;
        }
        100% {
            top: 0%;
        }
    }
    @-moz-keyframes "topreverse" {
        0% {
            -moz-transform: rotate(45deg);
            top: 45.8333333333%;
        }
        60% {
            -moz-transform: rotate(0deg);
            top: 45.8333333333%;
        }
        100% {
            top: 0%;
        }
    }
    @keyframes "topreverse" {
        0% {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            top: 45.8333333333%;
        }
        60% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            top: 45.8333333333%;
        }
        100% {
            top: 0%;
        }
    }
    @-webkit-keyframes "bottomreverse" {
        0% {
            -webkit-transform: rotate(-45deg);
            bottom: 45.8333333333%;
        }
        60% {
            -webkit-transform: rotate(0deg);
            bottom: 45.8333333333%;
        }
        100% {
            bottom: 0%;
        }
    }
    @-moz-keyframes "bottomreverse" {
        0% {
            -moz-transform: rotate(-45deg);
            bottom: 45.8333333333%;
        }
        60% {
            -moz-transform: rotate(0deg);
            bottom: 45.8333333333%;
        }
        100% {
            bottom: 0%;
        }
    }
    @keyframes "bottomreverse" {
        0% {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            bottom: 45.8333333333%;
        }
        60% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            bottom: 45.8333333333%;
        }
        100% {
            bottom: 0%;
        }
    }
    .trigger {
        cursor: pointer;
        position: relative;
        height: 24px;
        width: 36px;
    }
    .centerer {
        position: absolute;
        top: 50%;
        // left: 50%;
        transform: translate(-50%, -50%);
    }
    .trigger__icon{
        height: 4.5px;
        border-radius: 4px;
        width: 85%;
        background: #4f4f4f;
        position: absolute;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-animation-duration: 0.65s;
        -moz-animation-duration: 0.65s;
        animation-duration: 0.65s;
        -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
        -moz-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
        animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .trigger-top {
        top: 0;
        -webkit-animation-name: topreverse;
        -moz-animation-name: topreverse;
        animation-name: topreverse;
      
    }
    .trigger-middle {
        bottom: 9.5px;
        -webkit-animation-name: bottomreverse;
        -moz-animation-name: bottomreverse;
        animation-name: bottomreverse;
      
    }
    .trigger-bottom {
        bottom: 0;
        -webkit-animation-name: bottomreverse;
        -moz-animation-name: bottomreverse;
        animation-name: bottomreverse;
      
    }
    .trigger.is-active {
        .trigger-top {
            top: 38.8333333333%;
            -webkit-animation-name: top;
            -moz-animation-name: top;
            animation-name: top;
            -webkit-animation-duration: 0.65s;
            -moz-animation-duration: 0.65s;
            animation-duration: 0.65s;
            -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
            -moz-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
            animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        .trigger-bottom {
            bottom: 45.8333333333%;
            -webkit-animation-name: bottom;
            -moz-animation-name: bottom;
            animation-name: bottom;
            -webkit-animation-duration: 0.65s;
            -moz-animation-duration: 0.65s;
            animation-duration: 0.65s;
            -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
            -moz-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
            animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
    }
    .no-animation {
        -webkit-animation: none;
        -moz-animation: none;
        animation: none;
    }
}
}
}


.busca {
    @extend %bg__fifth;
    justify-content: space-between;
    padding: 2rem 0;
z-index: 1045;
    select, input.valid, input {
        @extend %bg__fifth;
        border: none;
        border-bottom: solid 1px $third;
        width: 200px;
        padding-bottom: .5rem;
        color: #4f4f4f;
    }

    &__botao {
        padding: .8rem 2.3rem;
    }
    .botao__underline{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #A50112;
        border-bottom: 1px solid #A50112;
    }
}

#set__form {

    a   {
        margin: 0rem 3.5rem 0rem 3.5rem;
    }

    .form-group  {
        margin: .5rem .5rem .5rem .5rem !important;
    }
}

.menu{
    .yes__inner{
        height: 0;
        width: 0;
        left: -10000px;
        opacity: 0;
        display: none;
    }
}
.cta{
    opacity: 0;
    position: fixed;
    right: 40px;
    top: 60px;
    z-index: 1029;
    height: 0;
    width: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    .consultor__emp, .wpp__emp{
        height: 0;
        width: 0;
        cursor: pointer;
        position: fixed;
        right: 0;

        text-align: right;
    }
    .consultor__emp{
        right: -150px;
        transition: right .6s ease-in-out;
        &:hover{
            right: 0;
            transition: right .6s ease-in-out;
        }
    }
    .wpp__emp {
        
        top: 270px;
    }
    &__scrolled{
        opacity: 1;
        height: auto;
        width: auto;
        .consultor__emp{
            height: auto;
            width: auto;
            &.yes__inner{
                height: 0;
                width: 0;
                left: -10000px;
                opacity: 0;
            }
        }
        .wpp__emp {
            height: auto;
            width: auto;
            top: 270px;
            right:20px;
        }
    }
}
// shake start

  
.shake1 {
    animation: shake 1s infinite;
  }

  @keyframes shake {
    0% { transform: translate(0px, 0px) rotate(0deg); }
    50% { transform: translate(1px, 1px) rotate(0deg); }
    55% { transform: translate(-1px, -2px) rotate(-1deg); }
    60% { transform: translate(-3px, 0px) rotate(1deg); }
    65% { transform: translate(3px, 2px) rotate(0deg); }
    70% { transform: translate(1px, -1px) rotate(1deg); }
    75% { transform: translate(-1px, 2px) rotate(-1deg); }
    80% { transform: translate(-3px, 1px) rotate(0deg); }
    85% { transform: translate(3px, 1px) rotate(-1deg); }
    90% { transform: translate(-1px, -1px) rotate(1deg); }
    95% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


// shake end

// start videoPlayer
.video__player {

    .cont {
        text-align: center;
    }

    .md__gallery > ul {
        margin-bottom: 0;
        padding-left: 15px;
    }

    .md__gallery > ul > li {
        margin-bottom: 15px;
        display: inline-block;
        margin-right: 15px;
        list-style: outside none none;
    }

    .md__gallery > ul > li a {
        border-radius: $border-radius-default;
        display: block;
        overflow: hidden;
        position: relative;
        float: left;
    }

    .md__gallery > ul > li a > img {
        -webkit-transition: -webkit-transform 0.15s ease 0s;
        -moz-transition: -moz-transform 0.15s ease 0s;
        -o-transition: -o-transform 0.15s ease 0s;
        transition: transform 0.15s ease 0s;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        height: 100%;
        width: 100%;
    }

    .md__gallery > ul > li a:hover > img {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    .md__gallery > ul > li a:hover .md__gallery-poster > img {
        opacity: 1;
    }

    .md__gallery > ul > li a .md__gallery-poster {
        background-color: rgba(0, 0, 0, 0.1);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transition: background-color 0.15s ease 0s;
        -o-transition: background-color 0.15s ease 0s;
        transition: background-color 0.15s ease 0s;
    }

    .md__gallery > ul > li a .md__gallery-poster > img {
        left: 50%;
        margin-left: -10px;
        margin-top: -10px;
        opacity: 0.5;
        position: absolute;
        top: 50%;
        -webkit-transition: opacity 0.3s ease 0s;
        -o-transition: opacity 0.3s ease 0s;
        transition: opacity 0.3s ease 0s;
    }

    .md__gallery > ul > li a:hover .md__gallery-poster {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .md__gallery .justified-gallery > a > img {
        -webkit-transition: -webkit-transform 0.15s ease 0s;
        -moz-transition: -moz-transform 0.15s ease 0s;
        -o-transition: -o-transform 0.15s ease 0s;
        transition: transform 0.15s ease 0s;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        height: 100%;
        width: 100%;
    }

    .md__gallery .justified-gallery > a:hover > img {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    .md__gallery .justified-gallery > a:hover .md__gallery-poster > img {
        opacity: 1;
    }

    .md__gallery .justified-gallery > a .md__gallery-poster {
        background-color: rgba(0, 0, 0, 0.1);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transition: background-color 0.15s ease 0s;
        -o-transition: background-color 0.15s ease 0s;
        transition: background-color 0.15s ease 0s;
    }

    .md__gallery .justified-gallery > a .md__gallery-poster > img {
        left: 50%;
        margin-left: -10px;
        margin-top: -10px;
        opacity: 0;
        position: absolute;
        top: 50%;
        -webkit-transition: opacity 0.3s ease 0s;
        -o-transition: opacity 0.3s ease 0s;
        transition: opacity 0.3s ease 0s;
    }

    .md__gallery .justified-gallery > a:hover .md__gallery-poster {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .md__gallery .video .md__gallery-poster img {
        height: 109px;
        margin-left: -48px;
        margin-top: -48px;
        opacity: 0.8;
        width: 109px;
    }

    .md__gallery.dark > ul > li a {
        border: none;
    }
}
.btn__fourth {
    color: $first !important;
}
// end videoPlayer

.card__link--all{
    text-decoration: none;

    &:hover{
        text-decoration: none;
    }
}

.list__card{
    .carousel-item{
        @extend %bg__responsive;
        background-size: cover;
        background-attachment: scroll;
        // @include media-breakpoint-down(sm){
        //     background-image: none !important;
        // }
        // @include media-breakpoint-up(md){
            min-height: 216px;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
        // }
    }
}
.lista__cards-emp{
    .card {
        border: none;
        border-radius: $border-radius-default;
        box-shadow: 0 4px 4px 0px rgba(0,0,0,0.26);
        min-height: 576px;
        height: 100%;
        &-img-top {
            border-top-left-radius: $border-radius-default;
            border-top-right-radius: $border-radius-default;
            min-height: 235px;
        }

        &-icon {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 10;
            padding: .8rem 0;      
            background-color: rgba(0, 0, 0, 0.4);
            border-top-right-radius: 20px;
            flex: 0 0 30.33333%;
            max-width: 28.33333%;
            img {
                display: block;
                text-align: center;
                margin: 0 auto;
                width: 25px !important;
                height: 25px !important;
            }
            
            span {
                @extend %color__fourth;
                font-size: 12px;
                text-align: center;
            }
        }

        &-h6 {
            @extend %color__sixth;
            font-size: 12px;
            @extend %letter__spacing__default;
            margin-bottom: 3px;
        }

        &-h3 {
            font-weight: 700;
            font-size: 28px;
            @extend %color__third;
            margin-bottom: 2px;

            &--size {
                font-weight: 700;
                font-size: 22px;
                @extend %color__third;
            }
        }

        &-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-hr {
            width: 100%;
        }

        &-diferenciais {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                    font-size: 12px;
                    padding-left: 5px;
                }
            }
        }

        &-button {
            width: 225px;

            @include media-breakpoint-up(md) {
                padding: 13px 48.85px !important;
            }
        }
    }
}
.cc-window{
    top: auto !important;
    bottom: 0 !important;
    border: none !important;
    box-shadow: 5px 2px 2px 2px #000 !important;
}
.cc-color-override-1444386161 .cc-btn{
    background-color: rgba(225, 129, 24, 1) !important;
}
// #bricks-component-v_dwfPNWwe35oLcJEr_hcQ-wrappesr{
//     display: none;
// }
// #rd-yVKZIKwDb6QS2O60DxPEVQ{
//     pointer-events: none;
// }
.first{
    a{
        color: $first;
        font-size: 16px;
        font-weight: 400;
    }
}
    #modalNewsletterLongTitleEmp{
      display: none;
  }
  #modalNewsletterLongTitle{
    
      display: block;
  }
// form trab conosco
#trab__submit {
    margin: 0rem 2rem 0rem 2rem;
}
// money mask forms
#money__mask {
    span {
        border: none;
        border-radius: 30px 0px 0px 30px;
        border: none;
        padding-left: 1.5rem;
    }

    input {
        border-radius: 0px 30px 30px 0px;
        border-color: #fff;
        padding-left: .5rem;
    }
}
// modal success
#modal-success {

    .modal-content {
        padding: 2rem 0rem 2rem 2rem;
        border-radius: 30px;
    }

    h3 {
        font-size: 1.75rem;
        font-weight: 700;
    }

    img {
        width: 5.5rem;
    }

    .close {
        color: #999999;
        font-size: 3.5rem;
        font-weight: 400;
        position: absolute;
        top: 0rem;
        right: 18px;
    }

    .close__success {
        position: absolute;
        font-weight: 500;
        color: $first;
        letter-spacing: .01rem;
        bottom: 8px;
        background: none;
        padding-top: rem;
        border: none;
        text-decoration: underline;
        left: 45%;
        right: 55%;
        cursor: pointer;
    }
}

#modalNewsletter, #modalNewsletterRD {
    .close {
        color: #999999;
        font-size: 3.5rem;
        font-weight: 400;
        position: absolute;
        top: 0rem;
        right: 18px;
        z-index: 999999;
    }
}
#modalNewsletterRD{
    .modal-header{
        border-bottom: none;
    }
    .modal-footer{
        border-top: none;

    }
}
.modal-body.busca {
    border-radius: 30px;
}
.modal{
    .invalid {
        outline: 1px solid red;
        border-radius: 30px;
        outline: none;
        border: 1px solid red !important;
    }
    .valid.modified:not([type=checkbox]){
        border-radius: 30px;
        outline: none !important;
        border: 1px solid #26b050 !important;
    }
}
@media (max-width: 767.98px) {
    .card-icon.d-flex.flex-column.col-4 .col-7 {
        width: 5rem !important;
        height: 40px !important;
    }
    .busca .col-md-8.mt-3.text-right {
        text-align: center !important;
    }

    .busca .form-group + .form-group {
        margin-left: .5rem;
        width: 100%;
        display: block;
        text-align: center;
    }

    #btn__first {

        button {
            margin: 1rem 0rem 1rem 0rem im !important;
        }
    }

    .card-icon   {
        width:8rem;
    }

    #trab__submit {
        margin: 0rem 1rem 0rem 2rem;
    }
}
.modal{
    .button.disabled {
        pointer-events: none;
    }

    .no_events button {
        pointer-events: none;

    }
}
.tab-pane .row.h-100.align-items-center {
    align-items: stretch !important;
    margin-top: 2rem;
}
.lista__cards-emp{
    @include media-breakpoint-down(md){
        .nav-tabs .nav-item{
            width: 100%;
        }
    }
    h5, .h5 {
        color: #4F4F4F !important;
        font-size: .9em;
        font-weight: 600 !important;
        letter-spacing: 0.05em !important;
        padding:.5em;
    }
    .nav-link.active h5 {
        color: #A50112 !important;
    }
    .nav-tabs, .nav-link, .nav-link:hover, .nav-link:focus {
        border-bottom: 1.5px solid !important;
        border-color:$first !important;
    }
    .nav-tabs{
        margin-top: 3rem;
    }
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        border-color: #fceac7;
    }
    .nav-item a {
        border-radius: 30px 30px 0px 0px;
    }
    .nav-link a, .nav-link a:hover {
        color: #4F4F4F !important;
        border:none;
    }
    
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        background-color: #fceac7;
        border-bottom: #fceac7;
        border-radius: 20px 20px 0px 0px;
    }
    .busca select, .busca input.valid {
        font-size: .9em !important;
        margin: 0px 20px 0px 20px;
    }
    .nav-tabs .nav-link {
        border:none;
    }
}
@media screen and (max-width: 992px){
    .menu__list{
        .wpp__emp svg {
            width: 40px !important;
            height: 40px;
        }
    }
}
#adv__search{
    .modal-content{
        border: none;
    }
    button.close {
        color: #fff;
        opacity: 1;
        span{
            color: #fff;
            opacity: 1;
            font-size: 30px;
        }
    }
}
@media screen and (max-width: 767px){

    .lista__cards-emp   {
        ul.nav.nav-tabs {
            width: 100%;
            text-align: center;
        }
    }


    .lista__cards-emp section.d-flex.flex-column.justify-content-center {
        padding-bottom: 0 !important;
    }
    #adv__search + .lista__cards-emp{
        padding-bottom: 0 !important;
    }
    .lista__cards-emp + section.fale-com-a-gente{
        padding-top: 0 !important;
    }
}
html {
	scroll-behavior: smooth;
}
@media screen and (max-width: 425px){
    .lista__cards-emp .col-12.col-md-6.col-lg-4.mb-5 {
        padding: 0 5px;
    }
    .lista__cards-emp .card-body{
        padding: 1rem .5rem;
    }
    .lista__cards-emp .card-diferenciais p span {
        font-size: 10px;
        padding-left: 3px;
    }
}
.breadcrumb-item+.breadcrumb-item::before {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}
/*start card hover*/
.card__hover {
    display: block;
    top: 0px;
    position: relative;
    border-radius: 4px;
    z-index: 0;
    overflow: hidden;

    &:hover {
        transition: all 0.2s ease-out;
        box-shadow: 4px 4px 8px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 1px solid #cccccc;
        background-color: white;
    }

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: #fff;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(2);
        transform-origin: 50% 50%;
        transition: transform 0.15s ease-out;
    }

    &:hover:before {
        transform: scale(2.15);
    }
}
/*cart hover end*/
.md-2 {
    .card-body  {
        margin: 30rem !important;
    }
}

.chat__anapro {

    svg {
        background-color: #A50112 !important;
    }
}

.guia__cadastro {
    padding: 3rem 0 3rem 0;

    h3, h5 {
        margin: 3rem 0 2rem 0;
    }

    p {
        margin: 0 0 .6rem 0;
    }

    .accordion {

        btn {
            margin: 0 !important;
            padding: 0 !important;

            buttom {
                color: red;
                margin: 0 !important;
            }
        }
    }

    .card-header {
        margin: 0;
        padding: 0;
        background-color: #fff;
        border: none;
    }
}