

//font size 
@mixin font-size($sizeValue: 16 ){
    font-size: $sizeValue + px; //fallback for old browsers
    font-size: (0.0625 * $sizeValue) + rem;
} 
@mixin line-height($heightValue: 20 ){
    line-height: $heightValue + px; //fallback for old browsers
    line-height: (0.0625 * $heightValue) + rem;
}
@mixin rhythm($sizeValue: 16, $heightValue: 20) {
    @include font-size($sizeValue);
    @include line-height($heightValue);
}
// @mixin $bg-gradient(direct) {
//     @if
//     background: #e7e7e7; /* fallback for old browsers */
//     background: -webkit-linear-gradient(to bottom, #FFFFFF, #e7e7e7); /* Chrome 10-25, Safari 5.1-6 */
//     background: linear-gradient(to bottom, #FFFFFF, #e7e7e7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }
@mixin bg-gradient-reverse {
    background: #e7e7e7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #e7e7e7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #e7e7e7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}