// Variables


$first: #363740;
$second: #DDE2FF; 
$third: #9FA2B4; 
$fourth: #A4A6B3; 
$fifth: #3751FF; 
$sixth: #28a745; 
$seventh: #CC2933; 
//global
$border-radius-default: 30px;

//padding sections
$padding-default: 55px 0;
@include media-breakpoint-down(md){
    $padding-default: 25px 0;
}

//margin default
$margin__top: 2rem;
