﻿<section class="flow section__dif">
    <div class="h-100 container">
        <div class="h-100 row justify-content-between">
            <div class="col-md-12">
                <div class="row h-100">
                    <h2 class="align-items-start">Diferenciais</h2>
                    <p>A Laterza conquistou muita credibilidade no mercado imobiliário por ser uma marca consolidada, vista com confiança pelas mais de 12 mil chaves entregues ao longo de sua história. Estes fatos fazem da Laterza a maior construtora genuinamente uberabense, também devido à sua origem e forte atuação na região.</p>
                    <p>Além disso, a empresa possui um avançado método construtivo que gera agilidade no prazo de entrega. Tudo com as facilidades no pagamento e incentivos promocionais, como documentação grátis dos empreendimentos para o cliente.</p>
                </div>
            </div>
        </div>
    </div>
</section>
@code {

}
