﻿<section class="flow section__empresas">
    <div class="h-100 container">
        <div class="h-100 row justify-content-between">
            <div class="col-md-12">
                <div class="row">
                    <h2>Empresas parceiras</h2>
@*                    <p>Atualmente, a Laterza oferece ao mercado imobiliário uma gama de variedades de empreendimentos. Estão inclusos no portfólio de produtos da empresa: casas geminadas e não geminadas com dois quartos, apartamentos com dois quartos em condomínios fechados e com casas sobrepostas.</p>
*@                </div>
                <div class="row align-items-center partners_brand">
                    <div class="col-md-3 text-center">
                        <img src="/img/italiana.png" alt="Construtora Laterza" title="Construtora Laterza"/>
                    </div>
                    <div class="col-md-3 text-center">
                        <img src="/img/cac.png" alt="Construtora Laterza" title="Construtora Laterza"/>
                    </div>
                    <div class="col-md-3 text-center">
                        <img src="/img/merito.png" alt="Construtora Laterza" title="Construtora Laterza"/>
                    </div>
                    <div class="col-md-3 text-center">
                        <img src="/img/jacitara.png" alt="Construtora Laterza" title="Construtora Laterza"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@code {

}
