﻿<section class="h-100 row justify-content-center hero__default hero__about">
    <div class="h-100 row container align-items-center justify-content-start mx-3">
        <h1>Quem Somos</h1>
        <p class="text-left">Uma das razões que motivaram Nicolau Laterza a construir uma história de sucesso no ramo da Construção Civil foi a sensação indescritível da conquista da casa/apartamento próprio. O fundador, Engenheiro Civil por formação e vocação, quis levar esta realização de sonho para mais pessoas.</p>
        <p class="text-left">Nos últimos 20 anos, a Laterza entregou mais de 14 mil chaves e mudou o futuro de famílias em diversos estados do Brasil como Minas Gerais, Mato Grosso do Sul e São Paulo. A empresa se consolida também como uma das maiores construtoras do Triângulo Mineiro, com uma forte atuação na região.</p>
        <p class="text-left">A Laterza segue escrevendo a história de seu fundador, realizando os sonhos das pessoas através de seus empreendimentos, além de gerar empregos e trazer desenvolvimento social e estrutural para as cidades em que atua.</p>
    </div>
    <div class="h-100 row container align-items-center justify-content-center">
        <button type="submit" class="btn col-md-5 text-center py-4 mx-3">Fazer simulação</button>
    </div>
</section>
@code {

}
