﻿<section class="flow section__linhas">
    <div class="h-100 container">
        <div class="h-100 row justify-content-between">
            <div class="col-md-12">
                <div class="row h-100">
                    <h2 class="align-items-start">Linhas de empreendimentos</h2>
                    <p>Atualmente, a Laterza oferece ao mercado imobiliário uma gama de variedades de empreendimentos. Estão inclusos no portfólio de produtos da empresa: casas geminadas e não geminadas com dois quartos, apartamentos com dois quartos em condomínios fechados e com casas sobrepostas.</p>
                    <p>Todos os tipos de empreendimentos da Laterza estão dentro das especificações para enquadramento no programa Casa Verde e Amarela. Isso torna a realização de sonhos cada vez mais acessível e inclusiva.</p>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
