﻿<section class="flow section__missao">
    <div class="h-100 container">
        <div class="h-100 row justify-content-between">
            <div class="col-md-12">
                <div class="row h-100">
                    <h2 class="align-items-start">Missão</h2>
                    <p>Construir empreendimentos de qualidade, buscando excelência em engenharia e construção, a fim de corresponder às mais altas exigências do mercado.</p>
                    <p>Para isso, fazer uso de tecnologias modernas e de profissionais com reconhecida capacitação técnica, com consequente superação das expectativas de nossos cliente.</p>
                </div>
            </div>
        </div>
    </div>
</section>
@code {

}
