﻿<section class="flow section__valores">
    <div class="h-100 container">
        <div class="h-100 row justify-content-between">
            <div class="col-md-12">
                <div class="row">
                    <h2>Valores</h2>
                </div>
                <div class="row align-items-start icon__values">
                    <div class="col-md-3 text-center">
                        <div class="d-flex align-items-center justify-content-center img__box">
                            <img src="/img/busca_icon.png" alt="Construtora Laterza" title="Construtora Laterza"/>
                        </div>
                        <h5>Busca constante da satisfação dos nossos clientes</h5>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="d-flex align-items-center justify-content-center img__box">
                            <img src="/img/qualidade_icon.png" alt="Construtora Laterza" title="Construtora Laterza"/>
                         </div>
                        <h5>Qualidade, através do aperfeiçoamento dos colaboradores e dos métodos</h5>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="d-flex align-items-center justify-content-center img__box">
                            <img src="/img/respeito_icon.png" alt="Construtora Laterza" title="Construtora Laterza"/>
                        </div>
                        <h5>Respeito aos clientes, parceiros e colaboradores</h5>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="d-flex align-items-center justify-content-center img__box">
                            <img src="/img/seguranca_icon.png" alt="Construtora Laterza" title="Construtora Laterza"/>
                        </div>
                        <h5>Segurança, conformidade e confiabilidade</h5>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="d-flex align-items-center justify-content-center img__box">
                            <img src="/img/etica_icon.png" alt="Construtora Laterza" title="Construtora Laterza"/>
                        </div>
                        <h5>Ética, oferecendo sempre um tratamento transparente, digno e respeitoso aos nossos clientes, colaboradores, fornecedores e parceiros</h5>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="d-flex align-items-center justify-content-center img__box">
                            <img src="/img/responsabilidade_icon.png" alt="Construtora Laterza" title="Construtora Laterza"/>
                        </div>
                        <h5>Responsabilidade empresarial, ambiental e social</h5>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="d-flex align-items-center justify-content-center img__box">
                            <img src="/img/inovacao_icon.png" alt="Construtora Laterza" title="Construtora Laterza"/>
                        </div>
                        <h5>Inovação</h5>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="d-flex align-items-center justify-content-center img__box">
                        <img src="/img/rentabilidade_icon.png" alt="Construtora Laterza" title="Construtora Laterza"/>
                        </div>
                        <h5>Rentabilidade</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@code {

}
