﻿<section class="flow section__visao">
    <div class="h-100 container">
        <div class="h-100 row justify-content-between">
            <div class="col-md-12">
                <div class="row h-100">
                    <h2 class="align-items-start">Visão</h2>
                    <p>Ser uma referência no segmento médio da construção civil, com crescimento sustentável e de forma permanente com a máxima rentabilidade, comprometida com a melhoria contínua dos processos, elevando ainda mais os índices de confiança e satisfação dos nossos clientes.</p>
                </div>
            </div>
        </div>
    </div>
</section>
@code {

}
