body{
    @extend %bg__first;
    background: #FCEAC7;
    min-height: 100vh;
    padding: 0;
}
html{
   
}
.geo{
    color: $first;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/img/local.png');
    padding: 9rem 0 8rem 0;
    min-height: 93vh;
    h1{
        font-weight: 700;
    }
    select.form-control:not([size]):not([multiple]) {
        height: calc(3.25rem + 2px);
    }
    @include media-breakpoint-down(md){
        .btn{
            padding: 9px 10px;
            margin-top: 2rem;
        }
    }
    .form-control{
        background: none;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid $first;
        padding-bottom: .8rem;
        color: $first;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        outline:0px;
        text-transform: uppercase;
        
        option{
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
       
            background: #FCEAC7;
            line-height: 200%;

        }

    }
}
.navbar_main, footer, ul.navbar-nav.ml-auto, .header, .menu{
    display: none !important;
    a{
        pointer-events: none;
    }
}
.acessibility .acessibility__item li a, .acessibility .acessibility__item li{
    color: $first;
}
.acessibility .acessibility__item li a{
    svg{
        path{
            color: $first;
        }
    }
}