﻿@using Blazored.Typeahead
<h3>@(model.Id == Guid.Empty ? "Inserir" : "Alterar") Benefício</h3>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <h5>Benefício</h5>
                <BlazoredTypeahead @onmousedown:preventDefault
                                   SearchMethod="buscarBeneficios"
                                   @bind-Value="@model.BeneficioPagamento"
                                   EnableDropDown="true"
                                   class=" rua">
                    <SelectedTemplate Context="BeneficioPagamento">
                        @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(BeneficioPagamento.ToString())
                    </SelectedTemplate>
                    <ResultTemplate Context="BeneficioPagamento">
                        @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(BeneficioPagamento.ToString())
                    </ResultTemplate>
                </BlazoredTypeahead>
            </div>
            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>
        <div class="col-md-12 text-right">
            <button class="btn btn btn-lg btn-primary" type="submit"><i class="fas fa-file"></i> Salvar</button>
        </div>
    </div>
</EditForm>

