﻿@using Laterza.Front.Blazor.Models
@using System.Collections.Generic
@using System.Collections
@using Laterza.Admin.Data.Data.Interfaces.EMail
@using Laterza.Admin.Data.Models.EMail
@using System.IO
@using System.Linq
@using Microsoft.AspNetCore.WebUtilities;
@inject NavigationManager NavigationManager;

@inject IControleMsgEMailDataService eMail
@inject ConfigAplicacao _config

<section class="flow contact__page">
    <div class="container">

        <div class="h-100 row align-items-center justify-content-center">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="mais-infos-tab" data-toggle="tab" href="#mais-infos" role="tab" aria-controls="home" aria-selected="true">
                        <h3>Mais informações</h3>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="trab-conos-tab" data-toggle="tab" href="#trab-conos" role="tab" aria-controls="profile" aria-selected="false">
                        <h3>Trabalhe conosco</h3>
                    </a>
                </li>
            </ul>
        </div>

        <div class="h-100 row align-items-center justify-content-center">
            <div class="w-100 tab-content" id="myTabContent">
                <div id="mais-infos" class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">

                    <EditForm Model="@informacaoContato" OnValidSubmit="@SubmitFormulario">

                        <div class="h-100 col-md-12 form__contact">

                            <div class="form-group">
                                <InputText @bind-Value="informacaoContato.Nome" class="form-control" id="inputName" placeholder="Nome"></InputText>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <InputText @bind-Value="informacaoContato.EMail" type="email" class="form-control" id="inputEmail" placeholder="Email"></InputText>
                                </div>
                                <div class="form-group col-md-6">
                                    <InputText @bind-Value="informacaoContato.Telefone" type="tel" class="form-control" id="inputTelefone" placeholder="Telefone" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"></InputText>
                                </div>
                            </div>

                            <div class="form-group">
                                <textarea @bind="informacaoContato.Msg" type="text" class="form-control" id="inputMessage" placeholder="Mensagem"></textarea>
                            </div>

                            <div class="form-group row align-items-center justify-content-between flex-column-reverse flex-md-row">

                                <div class="col-md-6">

                                    <div class="form-group form-check d-flex align-items-center mt-3">
                                        <InputCheckbox class="form-check-input" @bind-Value="@informacaoContato.IdcPoliticaPrivacidade"></InputCheckbox>
                                        <label class="form-check-label mt-1" for="exampleCheck1">Tenho conhecimento e aceito a <a href="/politica-de-privacidade" target="_blank">Política de Privacidade</a></label>
                                    </div>

                                    <div class="form-group form-check d-flex align-items-center">
                                        <InputCheckbox class="form-check-input" @bind-Value="@informacaoContato.IdcRecebeInformacao"></InputCheckbox>
                                        <label class="form-check-label mt-1" for="exampleCheck2">Eu concordo em receber comunicações</label>
                                    </div>
                                </div>

                                <div class="col-md-6 text-right">
                                    <button type="submit" class="btn col-md-8">Enviar</button>
                                    <DataAnnotationsValidator />
                                    <ValidationSummary />
                                    @foreach (var item in _lstErros)
                                    {
                                        <div>
                                            @item
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>


                    </EditForm>
                </div>

                <div id="trab-conos" class="tab-pane fade" role="tabpanel" aria-labelledby="profile-tab">

                    <EditForm Model="@informacaoContato" OnValidSubmit="SubmitTrabalheConosco">

                        <div class="h-100 col-md-12 form__contact">

                            <div class="form-group">
                                <InputText @bind-Value="informacaoContato.Nome" class="form-control" id="inputName" placeholder="Nome"></InputText>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <InputText @bind-Value="informacaoContato.EMail" type="email" class="form-control" id="inputEmail" placeholder="Email"></InputText>
                                </div>
                                <div class="form-group col-md-6">
                                    <InputText @bind-Value="informacaoContato.Telefone" type="tel" class="form-control" id="inputTelefone" placeholder="Telefone" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"></InputText>
                                </div>
                            </div>

                            <div class="form-group">
                                <textarea @bind="informacaoContato.Msg" type="text" class="form-control" id="inputMessage" placeholder="Mensagem"></textarea>
                            </div>


                            <button onclick="document.getElementById('UpFile').click(); return false;" class="btn col-md-4 mr-2 my-3">
                                <img class="mr-2" src="/img/paper-clip.png" alt="Anexar Curriculo" title="Anexar Curriculo" />Anexar curriculo
                            </button>
                            <InputFile id="UpFile" class="btn col-md-4 mr-2 my-3" OnChange="HandleAnexarArquivoAsync" accept=".jpeg, .jpg, .png, .doc, .docx, .pdf" style="visibility: hidden;" />

                            <div class="form-group row align-items-center justify-content-between flex-column-reverse flex-md-row">

                                <div class="col-md-6 file__send">

                                    <div class="form-group form-check d-flex align-items-center mt-3">
                                        <InputCheckbox class="form-check-input" @bind-Value="@informacaoContato.IdcPoliticaPrivacidade" />
                                        <label class="form-check-label mt-1" for="exampleCheck3">Tenho conhecimento e aceito a <a href="/politica-de-privacidade" target="_blank">Política de Privacidade</a></label>
                                    </div>

                                    <div class="form-group form-check d-flex align-items-center">
                                        <InputCheckbox class="form-check-input" @bind-Value="@informacaoContato.IdcRecebeInformacao" />
                                        <label class="form-check-label mt-1" for="exampleCheck4">Eu concordo em receber comunicações</label>
                                    </div>

                                </div>

                                <div class="col-md-6 text-right">
                                    <button type="submit" class="btn col-md-8">Enviar</button>
                                    <DataAnnotationsValidator />
                                    <ValidationSummary />
                                    @foreach (var item in _lstErros)
                                    {
                                        <div>
                                            @item
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</section>


@code {

    FormularioContato informacaoContato = new FormularioContato() { IdcPoliticaPrivacidade = false, IdcRecebeInformacao = false };
    static List<string> _lstErros = new List<string>();
    Hashtable _arquivo = new Hashtable();

    async Task SubmitFormulario()
    {
        _lstErros.Remove("Política de Privacidade deve ser aceita!");
        if (!informacaoContato.IdcPoliticaPrivacidade)
        {
            _lstErros.Add("Política de Privacidade deve ser aceita!");
        }

        HandleValidSubmit();

    }

    async Task SubmitTrabalheConosco()
    {
        _lstErros.Remove("Arquivo deve ser anexado!");

        if (_arquivo.Count == 0)
        {
            _lstErros.Add("Arquivo deve ser anexado!");
        }

        SubmitFormulario();
    }

    async Task HandleValidSubmit()
    {

        if (_lstErros.Count != 0)
        {
            return;
        }

        var _eMailDestino = string.Empty;

        var _nomeArquivo = string.Empty;
        byte[] _conteudoArquivo = null;

        if (_arquivo.Count == 0)
        {
            _eMailDestino = _config.DestinoContato;

        }
        else
        {
            _eMailDestino = _config.DestinoTrabalheConoco;

            foreach (DictionaryEntry de in _arquivo)
            {
                _nomeArquivo = de.Key.ToString();
                _conteudoArquivo = (byte[])de.Value;
            }
        }

        string _corpoMsg = File.ReadAllText(@".\wwwroot\eMail\eMailContato.html")
                                .Replace("##NOME_CONTATO##", informacaoContato.Nome)
                                .Replace("##EMAIL_CONTATO##", informacaoContato.EMail)
                                .Replace("##TELEFONE_CONTATO##", informacaoContato.Telefone)
                                .Replace("##MSG_CONTATO##", informacaoContato.Msg);

        eMail.GravaMsg(new ControleMsgEMailModel()
        {
            Assunto = "Novo Contato",
            Destino = _eMailDestino,
            CorpoMsg = _corpoMsg,
            NomeArquivo = _nomeArquivo,
            ConteudoArquivo = _conteudoArquivo,
            IdcRecebeInformacao = informacaoContato.IdcRecebeInformacao ? "S" : "N"
        });

        NavigationManager.NavigateTo(QueryHelpers.AddQueryString("/empreendimentos/", new Dictionary<string, string>()), true);
        StateHasChanged();
    }

    async Task HandleAnexarArquivoAsync(InputFileChangeEventArgs e)
    {
        var _arquivoSelecionado = e.GetMultipleFiles().FirstOrDefault();

        _lstErros.Remove("Formato de arquivo inválido!");

        if ((new List<string>() { ".doc", ".docx", ".pdf", ".jpeg", ".jpg", ".png" }).Contains(Path.GetExtension(_arquivoSelecionado.Name)))
        {
            var _conteudoArquivo = new MemoryStream();
            await (e.File.OpenReadStream(1024 * 1024 * 15)).CopyToAsync(_conteudoArquivo);

            _lstErros.Remove("O tamanho máximo do arquivo é de 500 Kb.");
            if (_conteudoArquivo.GetBuffer().Count() > (500 * 1024)) //500 Kb
            {
                _lstErros.Add("O tamanho máximo do arquivo é de 500 Kb!");
            }
            else
            {
                _arquivo.Add(_arquivoSelecionado.Name, _conteudoArquivo.GetBuffer());
            }
        }
        else
        {
            _lstErros.Add("Formato de arquivo inválido!");
        }
    }

}
