﻿<section class="flow title__contact">
    <div class="h-100 container justify-content-center card__content">
        <div class="h-100 row align-items-center justify-content-between sub__title">
            <div class="col-md-5">
                <h2>Contato</h2>
            </div>
            <div class="col-md-7">
                <h5>
                    Selecione o assunto<br /> e mande a sua mensagem para ser atendido.
                </h5>
            </div>
        </div>
    </div>
</section>
@code {

}
